//hr(style="border-width: 3px 0; border-color: #EEEEff -moz-use-text-color #FFFFFF;")
//.carousel.slide#sponsor-carousel(data-ride="carousel" style="margin-bottom: 20px;")
  .carousel-inner(role="listbox")
    .item.row.active
      .col-sm-2.col-sm-offset-2
        img(src="/assets/images/partners/scaled/0_BMBF.png", alt="BMBF")
      .col-sm-2
        img(src="/assets/images/partners/scaled/2_Uni_Luebeck.png", alt="UzL")
      .col-sm-2
        img(src="/assets/images/partners/scaled/3_UKSH.png", alt="UKSH")
      .col-sm-2
        img(src="/assets/images/partners/scaled/4_BioMedTec.png", alt="BMT")
    .item.row
      .col-sm-2.col-sm-offset-2
        img(src="/assets/images/partners/scaled/5_Emtec.png", alt="Emtec")
      .col-sm-2
        img(src="/assets/images/partners/scaled/6_LSN.png", alt="LSN")
      .col-sm-2
        img(src="/assets/images/partners/scaled/7_Spectaris.png", alt="SPECTARIS")
      .col-sm-2
        img(src="/assets/images/partners/scaled/8_DGBMT.png", alt="DGBMT")
    .item.row
      .col-sm-2.col-sm-offset-2
        img(src="/assets/images/partners/scaled/9_Innovationsforen_Mittelstand.png", alt="Innovationsforen Mittelstand")
      .col-sm-2
        img(src="/assets/images/partners/scaled/10_LNI40.png", alt="LNI 4.0")
      .col-sm-2
        img(src="/assets/images/partners/scaled/11_mt_Logo.png", alt="MT Medizintechnik")
      .col-sm-2
        img(src="/assets/images/partners/scaled/12_itsg.png", alt="UKSH Informationstechnologie")
    .item.row
      .col-sm-2.col-sm-offset-2
        img(src="/assets/images/partners/scaled/13_TZL.png", alt="TZL")
      .col-sm-2
        img(src="/assets/images/partners/scaled/14_IHK.png", alt="IHK Lübeck")
      .col-sm-2
        img(src="/assets/images/partners/scaled/15_FMSH.png", alt="FMSH")
      .col-sm-2
        img(src="/assets/images/partners/scaled/16_Hanse.png", alt="Hanse Humboldt")
  a.left.carousel-control(href="#sponsor-carousel", role="button", data-slide="prev")
    span.icon-prev.fa.fa-chevron-left.blue
  a.right.carousel-control(href="#sponsor-carousel", role="button", data-slide="next")
    span.icon-next.fa.fa-chevron-right.blue
.jumbotron.container-fluid.blue(style="margin-bottom: 0px; margin-top: 10px;")
  .col-sm-4
    img(src="/assets/images/partners/scaled/1_UTK_white.png")
    br
  .col-sm-4.text-white
    h4
      b UniTransferKlinik GmbH
    h5 Industrie-in-Klinik-Plattform
    h5 c/o MFC I Lübeck
    h5 Maria-Goeppert-Straße 1
    h5 23562 Lübeck
    h5 Telefon: +49 451 2903-0
    h5 Telefax: +49 451 2903-333
    span E-Mail: 
    a.h5(href="mailto:info@unitransferklinik.de") info@unitransferklinik.de
    br
    a.h5(href="http://www.industrie-in-klinik.de") www.industrie-in-klinik.de
    br
  .col-sm-4.text-white
    h4
      b Informationen
    h5.clickable(ui-sref='root.impressum') Impressum
    h5.clickable(ui-sref='root.antimaas') Datenschutz
    h5.clickable(ui-sref='root.agb') Nutzungsbedingungen
    h5.clickable(ui-sref='root.kontakt') Kontakt