.jumbotron.container-fluid.blue(style="margin-bottom: 0px; margin-top: 10px;")
  .col-sm-4
    img(src="/assets/images/partners/333.png")
    br
    img(src="/assets/images/gvlogo_white.png", style="margin-top: 15px;")
  .col-sm-4.text-white
    h4
      b Technikzentrum Lübeck
      br
      b c/o Gründerviertel
    span Maria-Goeppert-Straße 1
    br
    span 23562 Lübeck
    br
    span Telefon: +49 451 2903-0
    br
    span Telefax: +49 451 2903-333
    br
    span.h5 E-Mail: 
    a.h5.whitelink(href="mailto:info@gruenderviertel.de") info@gruenderviertel.de
    br
    a.h5.whitelink(href="http://www.gruenderviertel.de") www.gruenderviertel.de
    br
  .col-sm-4.text-white
    h4
      b Informationen
    a.h5.clickable.whitelink(ui-sref='root.impressum', target="_blank") Impressum
    br
    a.h5.clickable.whitelink(ui-sref='root.datenschutz', target="_blank") Datenschutz
    br
    a.h5.clickable.whitelink(ui-sref='root.nutzungsbedingungen', target="_blank") Nutzungsbedingungen
    br
    a.h5.clickable.whitelink(ui-sref='root.kontakt', target="_blank") Kontakt