.jumbotron.container-fluid.blue(style="margin-bottom: 0px; margin-top: 10px;")
  .col-sm-4
    img(src="/assets/images/partners/333.png")
    br
    img(src="/assets/images/gvlogo_white.png", style="margin-top: 15px;")
  .col-sm-4.text-white
    h4
      b Technikzentrum Lübeck
      br
      b c/o Gründerviertel
    h5 Maria-Goeppert-Straße 1
    h5 23562 Lübeck
    h5 Telefon: +49 451 2903-0
    h5 Telefax: +49 451 2903-333
    span.h5 E-Mail: 
    a.h5(href="mailto:info@gruenderviertel.de") info@gruenderviertel.de
    br
    a.h5(href="http://www.gruenderviertel.de") www.gruenderviertel.de
    br
  .col-sm-4.text-white
    h4
      b Informationen
    h5.clickable(ui-sref='root.impressum') Impressum
    h5.clickable(ui-sref='root.datenschutz') Datenschutz
    h5.clickable(ui-sref='root.agb') Nutzungsbedingungen
    h5.clickable(ui-sref='root.kontakt') Kontakt