.container
  h3 Impressum
  h4
    b UniTransferKlinik GmbH
  h5 c/o MFC I Lübeck
  h5 Maria-Goeppert-Straße 1
  h5 23562 Lübeck
  br
  h4
    b Geschäftsführer:
  h5 Dr. Raimund Mildner
  h5 Telefon: +49 451 2903-0
  h5 Telefax: +49 451 2903-333
  h5 E-Mail: info@unitransferklinik.de
  br
  h5 HRB 5331, Lübeck
  br
  h4
    b Haftungshinweis:
  p Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.