nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#gv-navbar-collapse")
        span.sr-only Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="root.home")
        img.brand-image(src="/assets/images/gvlogo.jpg")
    .collapse.navbar-collapse#gv-navbar-collapse(style="margin-right: 5px;")
      ul.nav.navbar-nav.navbar-right
        li(ng-hide='nav.isAuthenticated')
          a.clickable(data-toggle="modal", data-target="#login_modal") Anmelden
        li.dropdown(ng-show="nav.isAuthenticated")
          a.dropdown-toggle.clickable(data-toggle="dropdown", role="button")
            b {{nav.username}}
          ul.dropdown-menu
            li
              a(ui-sref="root.profile") Accountdaten
            li
              a#navbar_a_logout.text-white.clickable(ng-click="nav.logout()") Abmelden
      ul.nav.navbar-nav.navbar-right(ng-show="nav.isAuthenticated")
        li.dropdown
          .clickable.image-container.dropdown-toggle(style="border-radius: 50%; width: 30px; height: 30px; margin-right: 15px; margin-top: 10px;", ng-class="{'white': nav.decodedEvents.length <= 0, 'grey': nav.decodedEvents.length > 0}", href="#", data-toggle="dropdown", role="button")
            img(src="/assets/images/icons/alarm.svg")
            div.bottom-right.blue.text-white {{nav.decodedEvents.length}}
          ul.dropdown-menu.border-grey
            li.highlight.wide(ng-repeat="e in nav.decodedEvents", ng-click="nav.visit_event(e)") 
              span.clickable {{e.message}}
            li.wide(ng-show="nav.decodedEvents.length == 0")
              span Keine neuen Ereignisse.

        li.clickable(ui-sref="root.createproject") 
          button.btn.btn-primary.navbar-btn.text-white Neues Projekt
      ul.nav.navbar-nav.navbar-right
        li.dropdown.highlight(ng-if="activeUser.role == 'admin'")
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") Administration
          ul.dropdown-menu.border-grey
            li
              a.clickable.hightlight(ui-sref="root.admin.admin_users") Nutzer
            li
              a.clickable.hightlight(ui-sref="root.admin.admin_projects") Projekte
            li
              a.clickable.hightlight(ui-sref="root.admin.admin_communities") Communities
            li
              a.clickable.hightlight(ui-sref="root.admin.reports") Reports
        li.clickable.highlight(ui-sref="root.communityoverview")
          a.text-blue Communities
        li.dropdown.highlight(ng-show="nav.isAuthenticated")
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") Projekte
          ul.dropdown-menu.border-grey
            li.clickable.hightlight
              a(ui-sref="root.browseprojects({'category': 'Showcase'})") Showcase
            li.clickable.hightlight
              a(ui-sref="root.browseprojects({'category': 'HowTo'})") Anleitungen
            li.clickable.hightlight
              a(ui-sref="root.browseprojects({'category': 'Open Innovation'})") Open Innovation

.modal.fade#login_modal
  .modal-dialog
    .modal-content
      .modal-body
        .container-fluid
          center.text-blue
            b Melden dich hier an:
          form(role="login" name="loginForm", novalidate)
            .form-group
              input#login_input_email.form-control(name="username", type="text" ng-minlength="2", ng-model="nav.form.username", required, maxlength="30", placeholder="Accountname")
            .form-group
              input#login_input_password.form-control(name="password", type="password" ng-minlength="8",
                ng-model="nav.form.password", required, maxlength="30", placeholder="Passwort")
            .col-4-offset-4
              button#login_button_login.btn.btn-info(type="submit" ng-click="nav.login()", ng-disabled="loginForm.$invalid", data-dismiss="modal") Anmelden
          hr
          .col-4-offset-4
            center.text-blue
              b Oder registriere dich hier:
              br(clear="all")
              button.btn.btn-large.btn-primary.blue.text-white(ui-sref='root.register', data-dismiss="modal") Neuen Account Anlegen
              br
              h5.text-red.clickable(ui-sref="root.passwordrecovery", data-dismiss="modal") Passwort vergessen?
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Schließen