.container-fluid.grey(style="margin-right: 0px; margin-left: 0px;")
  .container.white(style="padding-bottom: 20px;")
    form(name="createForm", novalidate, enctype="multipart/form-data", style="margin-top: 30px;")
      center
        h2.text-red Teile dein Projekt mit der Community
        h4.text-red -Let's get started-
      .container(ng-show="create.step == 1", style="margin-top: 30px;")
        .row
          a.anchor#Overview      
          .col-md-2
            h3.text-blue Projektname
          .col-md-9
            input#newProject_name(ng-model="create.form.project.name", style="font-weight: bold; width: 100%; font-size: 2em; text-align: center;", placeholder="Der Titel deines Projektes")
            //label(for="newProject_name") Der Titel deines Projektes

        .row(style="margin-top: 15px;")
          //a.anchor#Ziel
          .col-md-2
            //b Der Aufhänger ihres Projektes. Beschreiben Sie in einem kurzen Satz, was Sie mit ihrem Projekt erreichen möchten.
            h3.text-blue Pitch
          .col-md-9
            textarea#newProject_goal(ng-keyup="create.charLimit()", ng-change="create.charLimit()", ng-model="create.form.project.goal", style="width: 100%; resize: none;", rows="2", maxlength="200", placeholder="Eine kurze Beschreibung des Projektziels; was willst du erreichen?")
            label(for="newProject_goal") {{create.pitch_characters}} verbleibend.
            //label(for="newProject_goal") Eine kurze Beschreibung des Projektziels; was willst du erreichen?
            br(clear="all")
          hr
       
        .row(style="margin-top: 15px;")
          a.anchor#cover
          .col-md-2
            h3.text-blue Titelbild
          .col-md-9
            .container(style="margin-top: 25px;")
              input#newProject_cover_image(type="file", ngf-select, ng-model="create.form.project.image" name="image" accept="image/*" ngf-max-size="1MB")
              label(for="newProject_cover_image") Ladie hier das Titelbild deines Projektes hoch. Max. 1MB.

      .container(ng-show="create.step == 2", style="margin-top: 30px;")
        h3.text-red Branchen
        .row.display-flex
          .col-md-5.well.clickable.border-grey(ng-repeat="community in create.tag_list | filter: {typus: 'Branche'}", style="max-height: 50px; margin-top: 0px; max-width: 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="border-radius: 10px; height: 50px;")
              h4.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")

      .container(ng-show="create.step == 3", style="margin-top: 30px;")
        h3.text-red Themen
        .row.display-flex
          .col-md-5.well.clickable.border-grey(ng-repeat="community in create.tag_list | filter: {typus: 'Thema'}", style="max-height: 50px; margin-top: 0px; max-width: 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="border-radius: 10px; height: 50px;")
              h4.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")
      
      .container(ng-show="create.step == 4", style="margin-top: 30px;")
        a.anchor#typus
        .row
          .col-md-2
            h3.text-blue Projekttyp
          .col-md-9
            select#newProject_typus.form-control(ng-model="create.form.project.typus")
              option(selected=true, value="Problemstellung") Open Innovation
              option(value="Showcase") Showcase
              option(value="Anleitung") Anleitung
            label(for="newProject_typus", ng-hide="create.form.project.typus") Wähle einen Projekttyp aus, um eine kurze Beschreibung zu erhalten.
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Problemstellung'") Wir suchen kluge \& kreative Köpfe, um unser Problem gemeinsam zu bearbeiten.
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Showcase'") Der Showcase erlaubt es Dir, dein Projekt den anderen Nutzern darzustellen. Eine genaue Beschreibung der Arbeitsweise Ihrer Lösung ist nicht erforderlich (aber kann durchaus interessant sein).
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Anleitung'") Schritt-für-Schritt-Tutorial unseres Tec Projektes als Anleitung zum Nachbauen.

        .row(ng-show="create.form.project.typus != 'Problemstellung'", style="margin-top: 15px;")
          a.anchor#Problem
          .col-md-2
            h3.text-blue Problem
          .col-md-9
            textarea#newProject_problem(ng-model="create.form.project.problem", style="width: 100%; min-height: 10em; resize: vertical;", placeholder="Beschreibe kurz die Problematik, welche du mit deinem Projekt löst.")
            //label(for="newProject_problem") Beschreibe kurz die Problematik, welche du mit deinem Projekt löst.




      .container(ng-show="create.step == 5", style="margin-top: 30px;")
        .container-fluid(summernote, style="margin-top: 20px;")
          a.anchor#Solution
          center
            h3.text-blue(ng-show="create.form.project.typus != 'Problemstellung'") Die Lösung
            h3.text-blue(ng-show="create.form.project.typus == 'Problemstellung'") Das Problem
            b Beschreibe hier in beliebiger Länge die Details deines Projektes oder Problems. Wie kam es zu der Idee; wie bist du vorgegangen?
          div#summernote(style="margin-top: 20px;")
        .row
          a.anchor#Attachment
          h3.text-blue.text-center Anhang
          center
            input#newProject_attachment(type="file", ngf-select, ng-model="create.form.project.attachment" name="attachment" accept="application/pdf" ngf-max-size="3MB")
            label(for="newProject_attachment") Hier können Sie noch ein PDF mit zusätzlichen Informationen anhängen. Dies sollte nicht größer als 2MB sein.
            
      //.container(ng-show="create.step == 4")
        .row
          a.anchor#Coop
          h3.text-blue.text-center Kooperationswunsch
          .col-md-2
            b.slider-text Ich möchte gerne mit anderen Nutzern kooperieren.
          .col-md-9
            b.slider-left Nein
            label.switch(for="newProject_coop_check")
              input#newProject_coop_check(type="checkbox" ng-model="create.form.project.coop")
              span.slider.round
            b.slider-right Ja
        .row(ng-hide="!create.form.project.coop")
          .col-md-2
            b(ng-disabled="!create.form.project.coop") Beschreiben Sie, welche Form der Kooperation sie wünschen.
          .col-md-9            
            textarea(ng-disabled="!create.form.project.coop" ng-model="create.form.project.cooptext", style="width: 100%; resize: vertical;")
        
    .container
      .container-fluid(style="margin-top: 10px;")
        .col-md-1.col-md-offset-4
          center
            button.btn.btn-lg.btn-primary(ng-click="create.goBack()", scrolltop, ng-disabled="create.step == 1") Zurück
        .col-md-1.col-md-offset-2
          center
            button.btn.btn-lg.btn-primary(ng-click="create.proceed()", ng-hide="create.step == 5", scrolltop) Weiter
            button.btn.btn-lg.btn-primary(ng-click="create.createProject()", ng-show="create.step == 5", ng-disabled="createForm.$invalid || create.in_progress") Einreichen

.modal.fade#tagging_modal
  .modal-dialog
    .modal-content
      center.modal-body
        h3.text-red Branchen
        .row.display-flex
          .col-md-6.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Branche'}", style="max-height: 50px; margin-top: 0px; max-width= 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}')
              p.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}") {{community.name}}
            br(clear="all")
        br(clear="all")
        hr
        h3.text-red Themen
        .row.display-flex
          .col-md-6.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Thema'}", style="max-height: 50px; margin-top: 0px; max-width= 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}')
              p.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}") {{community.name}}
            br(clear="all")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Schließen