.container-fluid
  .sidenav.blue.text-white
    a(href="#Overview") Übersicht
    a(href="#Ziel") Ziel
    a(href="#Problem") Problem
    a(href="#Solution") Lösung
    a(href="#Coop") Kooperation
    a(href="#Attachment") Anhang

  form.main.white.text-center(name="createForm", novalidate, enctype="multipart/form-data")
    .container-fluid
      a.anchor#Overview
      input(ng-model="create.form.project.name", placeholder= "Projektname", style="border: none; font-weight: bold; font-size: 32px; width: 80%; text-align: center;")
      br
      hr
      button.btn(data-toggle="modal", data-target="#tagging_modal") Themen
      hr
      a.anchor#Ziel
      h2.text-blue Ziel
      .well.blue
        textarea.white(ng-model="create.form.project.goal", style="border: none; width: 100%; resize: none;", rows="2")
      br(clear="all")
      hr
      a.anchor#Problem
      h2.text-blue Problem
      .well.blue
        textarea.white(ng-model="create.form.project.problem", style="border: none; width: 100%; resize: none;", rows="20", )
      br(clear="all")
      hr
      a.anchor#Solution
      h2.text-blue Lösung
      .well.blue
        textarea.white(ng-model="create.form.project.solution", style="border: none; width: 100%; resize: none;", rows="20")
      br(clear="all")
      hr
      a.anchor#Coop
      h2.text-blue Kooperationswunsch
      .well.blue
        textarea.white(ng-model="create.form.project.coop_type", style="border: none; width: 100%; resize: none;", rows="20")
      br(clear="all")
      hr
      a.anchor#Attachment
      .well.white
        h3.text-blue Anhang
        center
          input(type="file", ngf-select, ng-model="create.form.project.attachment" name="attachment" accept="application/pdf" ngf-max-size="1MB")
    hline
    br(clear="all")
    button.btn.btn-info.btn-lg Absenden

.modal.fade#tagging_modal
  .modal-dialog
    .modal-content
      .modal-body
        h3.text-red Branchen
        .row.container.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Branche'}", style="max-height: 50px; margin-top: 0px;")
          img.col-sm-4.white(ng-src='{{community.icon}}', style="max-height: inherit; position: top-left;")
          p.col-sm-8.text-red {{community.name}}
          br(clear="all")
        br(clear="all")
        hr
        h3.text-red Branchen
        .col-sm-3.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Thema'}")
          .col-sm-4
            img.white(ng-src='{{community.icon}}')
          .col-sm-8
            p.text-red {{community.name}}
          br(clear="all")
        br(clear="all")
        
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Schließen