.container-fluid.grey(style="margin-right: 0px; margin-left: 0px;")
  .container.white(style="padding-bottom: 20px;")
    form(name="createForm", novalidate, enctype="multipart/form-data", style="margin-top: 30px;")
      center
        h2.text-red Teile dein Projekt mit der Community
        h4.text-red -Let's get started-
      .container.abstand(ng-show="create.step == 1")
        .row
          a.anchor#Overview      
          .col-md-2
            h3.text-blue.no-margin Projektname
          .col-md-9
            input#newProject_name(ng-model="create.form.project.name", style="width: 100%;", placeholder="Der Titel deines Projektes")
            //label(for="newProject_name") Der Titel deines Projektes

        .row(style="margin-top: 15px;")
          //a.anchor#Ziel
          .col-md-2
            //b Der Aufhänger ihres Projektes. Beschreiben Sie in einem kurzen Satz, was Sie mit ihrem Projekt erreichen möchten.
            h3.text-blue.no-margin Pitch
          .col-md-9
            textarea#newProject_goal(ng-keyup="create.charLimit()", ng-change="create.charLimit()", ng-model="create.form.project.goal", style="width: 100%; resize: none;", rows="2", maxlength="200", placeholder="Eine kurze Beschreibung des Projektziels; was willst du erreichen?")
            label(for="newProject_goal") {{create.pitch_characters}} verbleibend.
            //label(for="newProject_goal") Eine kurze Beschreibung des Projektziels; was willst du erreichen?
            br(clear="all")
       
        .row(style="margin-top: 15px;")
          a.anchor#cover
          .col-md-2
            h3.text-blue.no-margin Titelbild
          .col-md-9
            .container-fluid(style="margin-top: 25px;")
              .input-group
                input#newProject_cover_image(type="file", ngf-select, ng-model="create.form.project.image" name="image" accept="image/png, image/jpeg" ngf-max-size="1MB")
                .input-group-btn
                  button.btn.btn-default(ng-click="create.resetFile()") Reset
              label(for="newProject_cover_image") Lade hier das Titelbild deines Projektes hoch. Max. 1MB.
              p#imageHelpBlock.form-text.bg-danger(ng-show="createForm.image.$invalid") Die Datei muss eine PNG oder JPG mit max 1MB Größe sein.

      .container.abstand(ng-show="create.step == 2")
        h3 Branchen
        .row.abstand
          .col-xs-12.col-md-5.well.no-padding.at-all.clickable.border-grey(ng-repeat="community in create.tag_list | filter: {typus: 'Branche'}", style="max-height: 55px; margin-bottom: 5px; max-width: 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            .col-xs-4.col-md-2
              img.image.smooth-edge-5(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="height: 50px;")
            .col-xs-8.col-md-10
              h4(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")

      .container.abstand(ng-show="create.step == 3")
        h3 Themen
        .row.abstand
          .col-xs-12.col-md-5.well.no-padding.at-all.clickable.border-grey(ng-repeat="community in create.tag_list | filter: {typus: 'Thema'}", style="max-height: 55px; margin-bottom: 5px; max-width: 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            .col-xs-4.col-md-2
              img.image.smooth-edge-5(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="height: 50px;")
            .col-xs-8.col-md-10
              h4(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")
      
      .container.abstand(ng-show="create.step == 4")
        a.anchor#typus
        .row
          .col-md-2
            h3.text-blue.no-margin Projekttyp
          .col-md-9
            .row.display-flex
              .col-md-4
                .col-md-8.col-md-offset-2.well.clickable.highlight.border-grey(ng-class="{'selected': create.form.project.typus == 'Open Innovation'}", ng-click="create.changeTypus('Open Innovation')")
                  center
                    img.white(ng-src='/assets/images/icons/Open Innovation.svg')
                    br
                    b Open Innovation
              .col-md-4
                .col-md-8.col-md-offset-2.well.clickable.highlight.border-grey(ng-class="{'selected': create.form.project.typus == 'Showcase'}", ng-click="create.changeTypus('Showcase')")
                  center
                    img.white(ng-src='/assets/images/icons/Showroom.svg')
                    br
                    b Showcase
              .col-md-4
                .col-md-8.col-md-offset-2.well.clickable.highlight.border-grey(ng-class="{'selected': create.form.project.typus == 'Anleitung'}", ng-click="create.changeTypus('Anleitung')")
                  center
                    img.white(ng-src='/assets/images/icons/HowTo.svg')
                    br
                    b Anleitung
            .container-fluid.no-padding.abstand-bottom
              h4(ng-hide="create.form.project.typus") Wähle einen Projekttyp aus, um eine kurze Beschreibung zu erhalten.
              h4(ng-show="create.form.project.typus == 'Open Innovation'") Wir suchen kluge & kreative Köpfe, um unser Problem gemeinsam zu bearbeiten.
              h4(ng-show="create.form.project.typus == 'Showcase'") Der Showcase erlaubt es Dir, dein Projekt den anderen Nutzern darzustellen. Eine genaue Beschreibung der Arbeitsweise Deiner Lösung ist nicht erforderlich (aber kann durchaus interessant sein).
              h4(ng-show="create.form.project.typus == 'Anleitung'") Schritt-für-Schritt-Tutorial deines Tec Projektes als Anleitung zum Nachbauen.

          //.col-md-9
            select#newProject_typus.form-control(ng-model="create.form.project.typus")
              option(selected=true, value="Problemstellung") Open Innovation
              option(value="Showcase") Showcase
              option(value="Anleitung") Anleitung
            label(for="newProject_typus", ng-hide="create.form.project.typus") Wähle einen Projekttyp aus, um eine kurze Beschreibung zu erhalten.
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Problemstellung'") Wir suchen kluge & kreative Köpfe, um unser Problem gemeinsam zu bearbeiten.
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Showcase'") Der Showcase erlaubt es Dir, dein Projekt den anderen Nutzern darzustellen. Eine genaue Beschreibung der Arbeitsweise Deiner Lösung ist nicht erforderlich (aber kann durchaus interessant sein).
            label(for="newProject_typus", ng-show="create.form.project.typus == 'Anleitung'") Schritt-für-Schritt-Tutorial deines Tec Projektes als Anleitung zum Nachbauen.

        .row(style="margin-top: 15px;")
          a.anchor#Problem
          .col-md-2
            h3.text-blue.no-margin Problem
          .col-md-9
            textarea#newProject_problem(ng-disabled="create.form.project.typus == 'Open Innovation'", ng-model="create.form.project.problem", style="width: 100%; min-height: 10em; resize: vertical;", placeholder="{{create.problemPlaceholder}}")


      .container.abstand(ng-show="create.step == 5")
        .container-fluid(style="margin-top: 20px;")
          a.anchor#Solution
          center
            h3.text-blue(ng-show="create.form.project.typus != 'Open Innovation'") Die Lösung
            h3.text-blue(ng-show="create.form.project.typus == 'Open Innovation'") Das Problem
            b It's time for your story; Zeig der Community deine Projektidee mit Text & Bildern. 
            br
            b Wie kam es zu der Idee? Wie bist du vorgegangen?
          .abstand(tinymce)
            textarea(ui-tinymce="tinymceOptions" ng-model="create.form.project.solution")
        .row
          a.anchor#Attachment
          h3.text-blue.text-center Anhang
          center
            input#newProject_attachment(type="file", ngf-select, ng-model="create.form.project.attachment" name="attachment" accept="application/pdf" ngf-max-size="2MB")
            label(for="newProject_attachment") Hier kannst Du noch ein PDF mit zusätzlichen Informationen anhängen. (max. 2MB)
            
      //.container(ng-show="create.step == 4")
        .row
          a.anchor#Coop
          h3.text-blue.text-center Kooperationswunsch
          .col-md-2
            b.slider-text Ich möchte gerne mit anderen Nutzern kooperieren.
          .col-md-9
            b.slider-left Nein
            label.switch(for="newProject_coop_check")
              input#newProject_coop_check(type="checkbox" ng-model="create.form.project.coop")
              span.slider.round
            b.slider-right Ja
        .row(ng-hide="!create.form.project.coop")
          .col-md-2
            b(ng-disabled="!create.form.project.coop") Beschreiben Sie, welche Form der Kooperation sie wünschen.
          .col-md-9            
            textarea(ng-disabled="!create.form.project.coop" ng-model="create.form.project.cooptext", style="width: 100%; resize: vertical;")
        
    .container.abstand.abstand-bottom.no-padding
      .container-fluid.no-padding
        .col-md-1.col-md-offset-4
          center
            button.btn.btn-lg.btn-primary(ng-click="create.goBack()", scrolltop, ng-disabled="create.step == 1") Zurück
        .col-md-1.col-md-offset-2
          center
            button.btn.btn-lg.btn-primary(ng-click="create.proceed()", ng-hide="create.step == 5", scrolltop) Weiter
            button.btn.btn-lg.btn-primary(ng-click="create.createProject()", ng-show="create.step == 5", ng-disabled="createForm.$invalid || create.in_progress") Fertigstellen

.modal.fade#tagging_modal
  .modal-dialog
    .modal-content
      center.modal-body
        h3.text-red Branchen
        .row.display-flex
          .col-md-6.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Branche'}", style="max-height: 50px; margin-top: 0px; max-width= 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}')
              p.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}") {{community.name}}
            br(clear="all")
        br(clear="all")
        hr
        h3.text-red Themen
        .row.display-flex
          .col-md-6.well.clickable(ng-repeat="community in create.tag_list | filter: {typus: 'Thema'}", style="max-height: 50px; margin-top: 0px; max-width= 80%;", ng-click="create.selectTag(community)", ng-class="{blue: community.selected}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}')
              p.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}") {{community.name}}
            br(clear="all")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Schließen