.container-fluid.grey(anchormove)
  .container.white
    .col-lg-11
      a.anchor#Overview
      center
        h3.text-red - {{edit.form.typus}} -
        input.form-control#newProject_name(ng-model="edit.form.name", style="width: 100%;", placeholder="Der Titel deines Projektes")
        br
        //a.blue.text-white.label.clickable(ng-repeat="tag in edit.form.tags", style="margin-left: 5px;", ui-sref="root.community({id: tag.id})" target="_blank") {{tag.name}}
      br
      .row
        .col-lg-6
          img(ng-src='{{edit.form.image.url}}', ng-hide='!edit.form.image', style="max-height: 500px;")
        .col-lg-6
          input#newProject_cover_image(type="file", ngf-select, ng-model="edit.form.image" name="image" accept="image/*" ngf-max-size="1MB")
          label(for="newProject_cover_image") Hier kannst du dein Titelbild ändern. Max. 1MB.
      br
      a.anchor#Ziel
      h2.text-blue Pitch
      hr.border-grey
      textarea#newProject_goal(ng-keyup="edit.charLimit()", ng-change="edit.charLimit()", ng-model="edit.form.goal", style="width: 100%; resize: none;", rows="2", maxlength="200", placeholder="Eine kurze Beschreibung des Projektziels; was willst du erreichen?")
      label(for="newProject_goal") {{edit.pitch_characters}} verbleibend.
      br(clear="all")

      a.anchor#Problem
      div(ng-show="edit.form.typus != 'Open Innovation'")
        h2.text-blue Problem
        hr.border-grey
        textarea#newProject_problem(ng-disabled="edit.form.typus == 'Open Innovation'", ng-model="edit.form.problem", style="width: 100%; min-height: 10em; resize: vertical;", placeholder="{{edit.problemPlaceholder}}")
        br(clear="all")

      a.anchor#Solution
      div
        h2.text-blue Lösung
        hr.border-grey
        textarea#tinymcearea
      br(clear="all")
      a.anchor#Coop
      //h2.text-blue.text-center(ng-show="edit.form.coop") Kooperationswunsch
      //hr(style="border-color: #b2b8cf;")
      //p {{edit.form.coop_type}}
      //br(clear="all")
      hr(style="border-color: #b2b8cf;")
      a.anchor#Attachment
      div(ng-hide="edit.form.attachment.url")
        h3.text-red Anhang anfügen
        center
          input#editProject_attachment(type="file", ngf-select, ng-model="edit.form.attachment" name="attachment" accept="application/pdf" ngf-max-size="2MB")
          label(for="editProject_attachment") Hier kannst Du noch ein PDF mit zusätzlichen Informationen anhängen. (max. 2MB)
      center
        button.btn.btn-lg.btn-info(ng-click="edit.editProject()") Speichern