.container-fluid.grey
	.container.white
		h2 {{filter.category}}
		hr
		.row.display-flex
			.col-lg-3.well.border-grey.clickable.highlight(ng-repeat="project in filter.projects", ui-sref="root.project({'id': {{project.id}}})")
				img(ng-src="{{project.image.url}}")
				hr
				p {{project.name}}
