.container-fluid.grey(anchormove)
  .container.white
    .container-fluid
      a.anchor#Overview
      center
        h3.text-red - {{project.project.typus}} -
        h1.text-red {{project.project.name}}
        br
        h4 
          span Projekt von 
          a.clickable(ui-sref="root.profile({id: project.project.user_id})", target="_blank") {{project.project.author.name}}
          span(ng-hide="!project.project.author.url") &nbsp;- 
          a(href="http://{{project.project.author.url}}", target="_blank", ng-hide="!project.project.author.url") {{project.project.author.url}}
        br
        a.blue.text-white.label.clickable(ng-repeat="tag in project.project.tags", ui-sref="root.community({id: tag.id})" target="_blank") {{tag.name}}
      br
      center
        img(ng-src='{{project.project.image.url}}', ng-hide='!project.project.image')
      a.anchor#Ziel
      h2.text-blue Ziel
      hr(style="border-color: #b2b8cf;")
      p {{project.project.goal}}
      br(clear="all")

      a.anchor#Problem
      h2.text-blue Problem
      hr(style="border-color: #b2b8cf;")
      p {{project.project.problem}}
      br(clear="all")
      a.anchor#Solution
      h2.text-blue Lösung
      hr(style="border-color: #b2b8cf;")
      ng-bind-html(ng-bind-html="project.project.solution")
      br(clear="all")
      a.anchor#Coop
      //h2.text-blue.text-center(ng-show="project.project.coop") Kooperationswunsch
      //hr(style="border-color: #b2b8cf;")
      //p {{project.project.coop_type}}
      //br(clear="all")
      hr(style="border-color: #b2b8cf;")
      a.anchor#Attachment
      div(ng-if="project.project.attachment.url")
        h3.text-red Anhang
        a(href="{{project.project.attachment.url}}" target="_blank") {{project.getFileName()}}
        hr.border-grey
      h3 Weitere Projekte
      .row.display-flex
        .col-xs-10.col-xs-offset-1.col-sm-5.col-md-2.container.clickable.text-center.well.white.border-grey.highlight(ng-repeat="project in project.moreProjects.similar" ui-sref="root.project({id: {{project.id}}})" data-toggle="tooltip" data-placement="bottom" title="{{project.goal}}" class="project-tooltip")
          div
            img.frame.image(ng-src='{{project.image.url}}', ng-hide='!project.image')
          div
            hr
            p - {{project.typus}} -
            h4.truncate {{project.name}}
            .row
              .col-xs-6
                span {{project.author.name}}
              .col-xs-6
                span {{project.likes.length}} Likes
        .col-xs-10.col-xs-offset-1.col-sm-5.col-md-2.container.clickable.text-center.well.white.border-grey.highlight(ng-repeat="project in project.moreProjects.other" ui-sref="root.project({id: {{project.id}}})" data-toggle="tooltip" data-placement="bottom" title="{{project.goal}}" class="project-tooltip")
          div
            img.frame.image(ng-src='{{project.image.url}}', ng-hide='!project.image')
          div
            hr
            p - {{project.typus}} -
            h4.truncate {{project.name}}
            .row
              .col-xs-6
                span {{project.author.name}}
              .col-xs-6
                span {{project.likes.length}} Likes
      hr.border-grey
    .sidenav.blue
      center.abstand
        button.btn.btn-primary.blue.text-white(ng-click="project.like()", ng-hide="project.project.liked") Good Idea!
        button.btn.btn-primary.blue.text-white(ng-click="project.like()", ng-show="project.project.liked") Eher nicht.
        br
        p.text-blue {{project.likes}} mögen diese Idee.
      hr
      .abstand 
        center
          button.btn.btn-default(ui-sref="root.project.editproject", ng-show="project.project.user_id == activeUser.id") Projekt bearbeiten.
    .container-fluid
      h3 Kommentare
      .col-sm-8(ng-repeat="comment in project.project.comments", style="margin-top: 10px;")
        a.anchor(id="c-{{comment.author}}-{{comment.id}}")
        .row
          a.clickable.text-blue(ui-sref="root.profile({id: comment.user_id})", target="_blank") {{comment.author}}
          span &nbsp;- Verfasst am 
          span {{comment.created}}
        .row
          p {{comment.content}}
        .row(ng-if="comment.user_id == activeUser.id")
          a.clickable(ng-click="project.editComment(comment.id)") Kommentar Bearbeiten
      br(clear="all")
      center
        textarea(ng-model="project.comment", style="width: 50%; resize: vertical;")
        br
        button.btn(ng-click="project.addComment()") Kommentieren
