.container-fluid
  .col-9-sm.well
    h1 {{project.project.name}}
    h5 {{project.project.author}}
    hline
    h5.blue Ziel
    p {{project.project.goal}}
    hline
    h5.blue Problem
    p {{project.project.problem}}
    hline
    h5.blue Lösung
    p {{project.project.solution}}
  .col-3-sm.well
    p.text-blue {{project.project.type}}
    {{project.project.likes}}
  hl {{project.project.attachment}}
  hline
    .col-6-offset-4.well(ng-repeat="comment in project.project.comments")
      .col-4-sm
        p {{comment.author}}
      .col-8-sm.well
        h4 {{comment.title}}
        p {{comment.content}}