.container-fluid.grey(anchormove)
  .container.white
    .sidenav.blue
      .text-center.abstand
        button.btn.btn-primary.blue.text-white(ng-click="project.like()") Good Idea!
        br
        p.text-blue {{project.project.likes.size}} mögen diese Idee.
      hr
      .abstand 
        center
          button.btn.btn-default(ui-sref="root.project.editproject", ng-show="project.project.user_id == activeUser.id") Projekt bearbeiten.
        //a(href="#Overview") Übersicht
        //a(href="#Ziel") Ziel
        //a(href="#Problem") Problem
        //a(href="#Solution", ng-show="project.project.solution") Lösung
        //a(href="#Coop", ng-show="project.project.coop") Kooperation
        //a(href="#Attachment", ng-show="project.project.attachment.url") Anhang

    .container-fluid
      a.anchor#Overview
      center
        h3.text-red - {{project.project.typus}} -
        h1.text-red {{project.project.name}}
        br
        h4 
          span Projekt von 
          a.clickable(ui-sref="root.profile({id: project.project.user_id})", target="_blank") {{project.project.author.name}}
          span(ng-hide="!project.project.author.url") &nbsp;- 
          a(href="http://{{project.project.author.url}}", target="_blank", ng-hide="!project.project.author.url") {{project.project.author.url}}
        br
        a.blue.text-white.label.clickable(ng-repeat="tag in project.project.tags", style="margin-left: 5px;", ui-sref="root.community({id: tag.id})" target="_blank") {{tag.name}}
      br
      center
        img(ng-src='{{project.project.image.url}}', ng-hide='!project.project.image')
      a.anchor#Ziel
      h2.text-blue Ziel
      hr(style="border-color: #b2b8cf;")
      p {{project.project.goal}}
      br(clear="all")

      a.anchor#Problem
      h2.text-blue Problem
      hr(style="border-color: #b2b8cf;")
      p {{project.project.problem}}
      br(clear="all")
      a.anchor#Solution
      h2.text-blue Lösung
      hr(style="border-color: #b2b8cf;")
      ng-bind-html(ng-bind-html="project.project.solution")
      br(clear="all")
      a.anchor#Coop
      //h2.text-blue.text-center(ng-show="project.project.coop") Kooperationswunsch
      //hr(style="border-color: #b2b8cf;")
      //p {{project.project.coop_type}}
      //br(clear="all")
      hr(style="border-color: #b2b8cf;")
      a.anchor#Attachment
      div(ng-show="project.project.attachment.url")
        h3.text-red Anhang
        a(href="{{project.project.attachment.url}}" target="_blank") {{project.project.attachment.url}}
        hr.border-grey
      h3 Weitere Projekte
      .row.display-flex
        .col-md-3(ng-if="project.moreProjects.similar[0]")
          .col-md-10.col-md-offset-1.well.border-grey.highlight.clickable(ui-sref="root.project({id: {{project.moreProjects.similar[0].id}}})")
            center
              img(ng-src="{{project.moreProjects.similar[0].image.url}}")
              hr
              b {{project.moreProjects.similar[0].name}}
              br(clear="all")
        .col-md-3(ng-if="project.moreProjects.similar[1]")
          .col-md-10.col-md-offset-1.well.border-grey.highlight.clickable(ui-sref="root.project({id: {{project.moreProjects.similar[1].id}}})")
            center
              img(ng-src="{{project.moreProjects.similar[1].image.url}}")
              hr
              b {{project.moreProjects.similar[1].name}}        
              br(clear="all")
        .col-md-3(ng-if="project.moreProjects.similar[2]")
          .col-md-10.col-md-offset-1.well.border-grey.highlight.clickable(ui-sref="root.project({id: {{project.moreProjects.similar[2].id}}})")
            center
              img(ng-src="{{project.moreProjects.similar[2].image.url}}")
              hr
              b {{project.moreProjects.similar[2].name}}        
              br(clear="all")
        .col-md-3(ng-if="project.moreProjects.other[0]")
          .col-md-10.col-md-offset-1.well.border-grey.highlight.clickable(ui-sref="root.project({id: {{project.moreProjects.other[0].id}}})")
            center
              img(ng-src="{{project.moreProjects.other[0].image.url}}")
              hr
              b {{project.moreProjects.other[0].name}}
              br(clear="all")
      hr.border-grey
  
      h3 Kommentare
      .col-sm-8(ng-repeat="comment in project.project.comments", style="margin-top: 10px;")
        a.anchor(id="c-{{comment.author}}-{{comment.id}}")
        .row
          a.clickable.text-blue(ui-sref="root.profile({id: comment.user_id})", target="_blank") {{comment.author}}
          span &nbsp;- Verfasst am 
          span {{comment.created}}
        .row
          p {{comment.content}}
        .row(ng-if="comment.user_id == activeUser.id")
          a.clickable(ng-click="project.editComment(comment.id)") Kommentar Bearbeiten
      br(clear="all")
      center
        textarea(ng-model="project.comment", style="width: 50%; resize: vertical;")
        br
        button.btn(ng-click="project.addComment()") Kommentieren
