body { padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 400% !important;
}

p, div, a {
    font-family: 'Open Sans', sans-serif;
}

hr {
  border-color: #b2b8cf;
}

.list-group-item {
  padding: 5px 10px;
}

.clickable {
  cursor: pointer;
}

.flex {
  width: auto;
}

.highlight:hover {
  background-color: #ddddff;
}

.brightness {
    background-color: black;
    display: inline-block;

}
.brightness img:hover {
    opacity: .9;
}

img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.blue {
  background-color: #1b355c;
}

.border-blue {
  border-color: #1b355c;
}

.white {
  background-color: #ffffff;
}

.red {
  background-color: #d30c4d;
}

.border-red {
  border-color: #d30c4d;
}

.grey {
  background-color: #b2b8cf;
}

.border-grey {
  border-color: #b2b8cf;
}

.text-blue {
  color: #1b355c;
}

.text-white {
  color: #ffffff;
}

.text-red {
  color: #000000;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.frame {
  border: 2px solid #b2b8cf;
}

.smooth-edge-5 {
  border-radius: 5px;
}

.smooth-edge-10 {
  border-radius: 10px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.highlight:hover {
    background-color: #7681aa;
    color: #ffffff;
}

.selected {
  background-color: #1b355c;
  color: #ffffff;
}

.selected:hover {
  background-color: #1b355c;
  color: #ffffff;
}

label {
  font-weight: normal;
}

ol {
  counter-reset: item
}
ol>li {
  display: block
}
ol>li:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}

.abstand {
  margin-top: 50px;
}

.abstand-half {
  margin-top: 25px;
}

.abstand-bottom {
  padding-bottom: 20px;
}

.abstand-side {
  margin-left: 5%;
  margin-right: 5%;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-container {
  position: relative;
}

.image-container > img {
  width: 100%;
}

.bottom-right {
    position: absolute;
    top: 40%;
    left: 75%;
}

.form-control {
  border-color: #b2b8cf;
  resize: vertical;
}

.input-group-addon {
  border-color: #b2b8cf;
}

.align-bottom {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.align-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul.no-indent {
  list-style: inside;
  padding-left: 0;
}

ul.no-bullet {
  list-style-type: none;
}

.project-icon{
  height: 350px;
}

.image {
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  max-height: 200px;
  width: auto;
  height: auto;
}

.truncate {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}