.container-fluid .jumbotron {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0px;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.text-block {
  text-align: justify;
}

.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.label-distance {
  margin-bottom: 3px;
}