.container.well
  h2.text-blue Nutzungsbedingungen
  p Mit der Nutzung der Anbietersuche und den ergänzenden Services akzeptiert der Webseiten Nutzer die folgenden Nutzungsbedingungen. 
  ul(style="list-style-type:none")
    li.h4.text-blue.abstand-half §1 Nutzungsumfang
    ol
      li Der Nutzer verpflichtet sich mit der Registrierung, keine diffamierende beleidigende, hasserfüllte, bedrohliche, Spam oder Spam-ähnliche, Jugendschutz gefährdete, Copyright verletzende, zur Straftat aufrufende oder anderweitig strafrechtlich relevante Materialen zu verwenden oder zu versenden. 
      li Jegliche Inhalte, egal ob erstellt oder hochgeladen, können von unseren Mitarbeitern überprüft werden. 

    li.h4.text-blue.abstand-half §2 Haftung
    ol 
      li Der Anbieter dieses Services ("wir", "uns" ,"unseren") ist nicht für die Inhalte und die Datenintegrität der hier verfassten Beiträge verantwortlich. Die Inhalte der Angebote gehören den jeweiligen Autoren. 
      li Wir übernehmen keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen. Gleiches gilt auch für den Inhalt der Websites, auf die mittels Hyperlink verwiesen wird. Wir sind für den Inhalt der Websites, die auf Grund einer solchen Verbindung erreicht werden, nicht verantwortlich.
    li.h4.text-blue.abstand-half §3 Folgen des Missbrauchs
    ul.no-bullet
      li Wir behalten uns das Recht vor, jeglichen Beitrag, ohne Angabe von Gründen, zu bearbeiten oder zu löschen. Wir behalten uns ebenfalls das Recht vor, Maßnahmen gegen Benutzerkonten durchzuführen.
    li.h4.text-blue.abstand-half §4 Gerichtsstand
    ul.no-bullet
      li Es gilt das Recht der Bundesrepublik Deutschland. Ausschließlicher Erfüllungs- und Gerichtsort ist Lübeck. 
  p Diese Nutzungsbedingungen können jederzeit ohne einen Hinweis verändert werden.
