.container-fluid.grey
  .container.white
    h1.text-red.text-center Datenschutzerklärung
  .container.white
    ol.well(style="border-color: #91a0bc;")
      li
        a(href="#RECHTSGRUNDLAGEN") Rechtsgrundlagen Datenschutzverordnung
        ol
          li
            a(href="#DATENSCHUTZBEAUFTRAGTER")
      li 
        a(href="#ERHEBUNG") Erhebung, Verarbeitung und Nutzung personenbezogener Daten
        ol
          li
            a(href="#REGISTRIERUNGSFUNKTION") Registrierungsfunktion
          li
            a(href="#JOBEMPFEHLUNGEN") Innovations- und Jobempfehlungen per E-Mail
      li
        a(href="#VERSCHLUESSELUNG") SSL-Verschlüsselung
      li 
        a(href="#SERVERDATEN") Serverdaten
      li 
        a(href="#COOKIES") Cookies
      li
        a(href="#ANALYTICS") Einsatz von Google-Analytics mit Anonymisierungsfunktion
      li
        a(href="#MAPS") Einsatz von Google Maps
      li
        a(href="#PLUGINS") Social Plugins
        ol
          li
            a(href="#GOOGLE") Einsatz von Google+-Empfehlungs-Komponenten
          li 
            a(href="#FACEBOOK") Einsatz von Facebook-Komponenten
          li 
            a(href="#TWITTER") Einsatz der Twitter-Empfehlungs-Komponenten
          li
            a(href="#XING") Einsatz der XING-Empfehlungs-Komponenten
          li
            a(href="#LINKEDIN") Einsatz der LinkedIn-Empfehlungs-Komponenten
          li
            a(href="#YOUTUBE") Einsatz von YouTube-Komponenten mit erweitertem Datenschutzmodus
      li
        a(href="#KONTAKT") Kontaktmöglichkeit
      li 
        a(href="#NEWSLETTER") Newsletter
        ol
          li
            a(href="#EINWILLIGUNG") Einwilligung Newsletter und Einsatz von MailChimp
          li
            a(href="#MAILCHIMP") Newsletter per MailChimp
          li
            a(href="#ERHEBUNG") Statistische Erhebung und Analyse
          li
            a(href="#KUENDIGUNG") Kündigung/Widerruf
      li
        a(href="#LINKS") Links zu anderen Websites
      li
        a(href="#WIDERSPRUCH") Widerspruch Werbe-Mails
      li
        a(href="#AUSKUNFT") Auskunft/Widerruf/Löschung
  .container.white
    p Die Nutzung unserer Webseite ist ohne eine Angabe von personenbezogenen Daten möglich. Für die Nutzung einzelner Services unserer Webseite können sich hierfür abweichende Regelungen ergeben, die in diesem Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen Daten (z.B. Name, E-Mail, u.ä.) werden von uns nur gemäß den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn sie eindeutig einer bestimmten natürlichen Person zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG), dem Telemediengesetz (TMG) sowie der ab 25. Mai 2018 gültigen Datenschutz Grundverordnung (DSGVO). Nachstehende Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch den Anbieter
    p Technikzentrum-Fördergesellschaft mbH
    p Seelandstraße 3
    p 23569 Lübeck
    p Telefax: +49 0451 3909-499
    p E-Mail: tzl@tzl.de
    p Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist, ein lückenloser Schutz vor Zugriffen durch Dritte somit unmöglich ist.
    ol
      a.anchor#RECHTSGRUNDLAGEN
      li RECHTSGRUNDLAGEN DATENSCHUTZGRUNDVERORDNUNG
        p Entsprechend den Vorgaben der ab dem 25. Mai 2018 geltenden Datenschutzgrundverordnung (DSGVO) informieren wir Sie, dass die Einwilligungen in den Versand der E-Mailadressen auf Grundlage der Art. 6 Abs. 1 lit. a, 7 DSGVO sowie §7 Abs. 2 Nr. 3, bzw. Abs. 3 UWG erfolgt. Der Einsatz des Versanddienstleisters MailChimp, Durchführung der statistischen Erhebungen und Analysen sowie Protokollierung des Anmeldeverfahrens, erfolgen auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f DSGVO. Unser Interesse richtet sich auf den Einsatz eines nutzerfreundlichen sowie sicheren Newslettersystems, das sowohl unseren geschäftlichen Interessen dient, als auch den Erwartungen der Nutzer entspricht.
        p Wir weisen Sie ferner darauf hin, dass Sie der künftigen Verarbeitung Ihrer personenbezogenen Daten entsprechend den gesetzlichen Vorgaben gem. Art. 21 DSGVO jederzeit widersprechen können. Der Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.
        ol
          a.anchor#DATENSCHUTZBEAUFTRAGTER
          li GESETZLICH VORGESCHRIEBENER DATENSCHUTZBEAUFTRAGTER
            p Wir haben für unser Unternehmen einen Datenschutzbeauftragten bestellt.
            br
            p Robert Mäckle
            p DataCo GmbH
            p Siegfriedstraße 8
            p 80803 München
            p Telefon: +49 89 442 550 62995
            p E-Mail: rmaeckle@consulting.dataguard.de
      a.anchor#ERHEBUNG
      li ERHEBUNG, VERARBEITUNG UND NUTZUNG PERSONENBEZOGENER DATEN
        p Personenbezogene Daten sind Angaben über sachliche oder persönliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen beispielsweise Ihr Name, Ihre Telefonnummer, Ihre Anschrift, sowie sämtliche Bestandsdaten. Personenbezogene Daten werden nur erhoben, wenn Sie uns diese von sich aus (z.B. bei der Registrierung unserer Open Innovation Plattform oder unseres Newsletters) mitteilen. Statistische Daten, die wir beispielsweise bei dem Besuch unseres Web-Seite erheben und die nicht direkt mit Ihrer Person in Verbindung gebracht werden können, fallen nicht hierunter.
        p Ihre personengebundenen Daten werden ausschließlich benutzt, um Ihnen die Inanspruchnahme von registrierungspflichtigen Diensten (wie z.B. der Open Innovation Plattform) zu ermöglichen. In keinem Fall werden Ihre personengebundenen Daten zu Werbe- oder Marketingzwecken oder unbefugt zu anderen Zwecken Dritten übermitteln oder weitergeben.
        a.anchor#REGISTRIERUNGSFUNKTION
        ol
          li REGISTRIERUNGSFUNKTION
            p Wir bieten Ihnen auf unserer Seite die Möglichkeit, sich dort zu registrieren, um unsere registrierungspflichtigen Dienste wie die Open Innovation Plattform oder das Jobportal zu nutzen. Die im Zuge dieser Registrierung eingegebenen Daten, die aus der Eingabemaske des Registrierungsformular ersichtlich sind (Accountname, Passwort, Vorname, Nachname, Firma/Organisation, Geschäftliche E-Mail-Adresse, Geschäftliche Telefonnummer, Branche, Ort des Unternehmens.) werden ausschließlich für die Verwendung unseres Angebots erhoben und gespeichert. Mit Ihrer Registrierung auf unserer Seite werden wir zudem Ihre IP-Adresse und das Datum sowie die Uhrzeit Ihrer Registrierung speichern. Dies dient in dem Fall, dass ein Dritter Ihre Daten missbraucht und sich mit diesen Daten ohne Ihr Wissen auf unserer Seite registriert, als Absicherung unsererseits. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.
            p Folgende Angaben Ihrer Registrierung sind für andere Nutzer der Online-Plattformen immer und uneingeschränkt einsehbar: Firmenname, Vorname, Name, Branche, Ort des Unternehmens. Bei den folgenden Angaben im Profil können Sie im Einzelfall entscheiden, ob diese Angaben für andere Nutzer der registrierungspflichtigen Dienste einsehbar sind: Geschäftliche E-Mail-Adresse, Geschäftliche Telefonnummer.
          a.anchor#JOBEMPFEHLUNGEN
          li INNOVATIONS- UND JOBEMPFEHLUNGEN PER E-MAIL
            p Zur Nutzung von Innovations- und Jobempfehlungen per E-Mail benötigen Sie einen eigenen Account bei einem unserer registrierungspflichtigen Dienste. Wenn Sie sich bei der Open Innovation Plattform oder dem Jobportal von Gründerviertel registrieren, übermitteln wir Ihnen regelmäßige Informationen per E-Mail. Diese Innovations- und Jobempfehlungen erhalten Sie von uns unabhängig davon, ob Sie einen Newsletter abonniert haben.
            p Es handelt sich dabei ausschließlich um aktuelle Stellenangebote oder neue Innovations- oder Kooperationsanzeigen, die auf unserer Seite veröffentlicht wurden und die größtmögliche Übereinstimmung mit Ihrer Suche oder die zu Ihrem vorher definiertem Profil passen. Dabei richten wir uns streng nach den gesetzlichen Vorgaben.
            p Sofern Sie keine Empfehlungen oder insgesamt keine werblichen Nachrichten mehr von uns erhalten wollen, können Sie dem jederzeit widersprechen. Sie können die Innovations- und Jobempfehlung E-Mails jederzeit unter dem Reiter Einstellung in Ihrem Account oder per E-Mail über den am Ende der jeweiligen Innovations- und Jobempfehlung E-Mail angegeben Link deaktivieren. Zudem reicht eine Mitteilung in Textform an die im Abschnitt AUSKUNFT/WIDERRUF/LÖSCHUNG genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) aus.
      a.anchor#VERSCHLUESSELUNG
      li SSL-VERSCHLÜSSELUNG
        p Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
      a.anchor#SERVERDATEN
      li SERVERDATEN
        p Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt, erfasst (sogenannte Serverlogfiles):
        ul
          li Browsertyp und -version
          li verwendetes Betriebssystem
          li Webseite, von der aus Sie uns besuchen (Referrer URL)
          li Webseite, die Sie besuchen
          li Datum und Uhrzeit Ihres Zugriffs
          li Ihre Internet Protokoll (IP)-Adresse.
        p Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen Daten gespeichert und lassen so keine Rückschlüsse auf eine bestimmte Person zu. Sie werden zu statistischen Zwecken ausgewertet, um unseren Internetauftritt und unsere Angebote optimieren zu können.
      a.anchor#COOKIES
      li COOKIES
        p Wir verwenden auf unserer Seite sog. Cookies zum Wiedererkennen mehrfacher Nutzung unseres Angebots, durch denselben Nutzer/Internetanschlussinhaber. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Sie dienen dazu, unseren Internetauftritt und unsere Angebote zu optimieren. Es handelt sich dabei zumeist um sog. „Session-Cookies“, die nach dem Ende Ihres Besuches wieder gelöscht werden.
        p Teilweise geben diese Cookies jedoch Informationen ab, um Sie automatisch wieder zu erkennen. Diese Wiedererkennung erfolgt aufgrund der in den Cookies gespeicherten IP-Adresse. Die so erlangten Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen.
        p Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihres Browsers verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.
      a.anchor#ANALYTICS
      li EINSATZ VON GOOGLE-ANALYTICS MIT ANONYMISIERUNGSFUNKTION
        p Wir setzen auf unserer Seite Google-Analytics, einen Webanalysedienst der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ ein. Google-Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und hierdurch eine Analyse der Benutzung der Website durch Sie ermöglichen.
        p Die durch diese Cookies erzeugten Informationen, beispielsweise Zeit, Ort und Häufigkeit Ihres Webseiten-Besuchs einschließlich Ihrer IP-Adresse, werden an Google in den USA übertragen und dort gespeichert.
        p Wir verwenden auf unserer Website Google-Analytics mit einer IP-Anonymisierungsfunktion. Ihre IP-Adresse wird in diesem Fall von Google schon innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt und dadurch anonymisiert.
        p Google wird diese Informationen benutzen, um Ihre Nutzung unserer Seite auszuwerten, um Reports über die Websiteaktivitäten für uns zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.
        p Google wird, nach eigenen Angaben, in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.
        p Des Weiteren bietet Google für die gängigsten Browser eine Deaktivierungsoption an, welche Ihnen mehr Kontrolle darüber gibt, welche Daten von Google erfasst und verarbeitet werden. Sollte Sie diese Option aktivieren, werden keine Informationen zum Website-Besuch an Google Analytics übermittelt. Die Aktivierung verhindert aber nicht, dass Informationen an uns oder an andere von uns gegebenenfalls eingesetzte Webanalyse-Services übermittelt werden. Weitere Informationen zu der von Google bereitgestellten Deaktivierungsoption sowie zu der Aktivierung dieser Option, erhalten Sie über nachfolgenden Link:
        a(href="https://tools.google.com/dlpage/gaoptout?hl=de", target="_blank") https://tools.google.com/dlpage/gaoptout?hl=de
      a.anchor#MAPS
      li EINSATZ VON GOOGLE-MAPS
        p Wir setzen auf unserer Seite die Komponente „Google Maps“ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“, ein.
        p Bei jedem einzelnen Aufruf der Komponente „Google Maps“ wird von Google ein Cookie gesetzt, um bei der Anzeige der Seite, auf der die Komponente „Google Maps“ integriert ist, Nutzereinstellungen und -daten zu verarbeiten. Dieses Cookie wird im Regelfall nicht durch das Schließen des Browsers gelöscht, sondern läuft nach einer bestimmten Zeit ab, soweit es nicht von Ihnen zuvor manuell gelöscht wird.
        p Wenn Sie mit dieser Verarbeitung Ihrer Daten nicht einverstanden sind, so besteht die Möglichkeit, den Service von „Google Maps“ zu deaktivieren und auf diesem Weg die Übertragung von Daten an Google zu verhindern. Dazu müssen Sie die Java-Script-Funktion in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall die „Google Maps“ nicht oder nur eingeschränkt nutzen können.
        p Die Nutzung von „Google Maps“ und der über „Google Maps“ erlangten Informationen erfolgt gemäß den Google-Nutzungsbedingungen
        a(href="http://www.google.de/intl/de/policies/terms/regional.html", target="_blank") http://www.google.de/intl/de/policies/terms/regional.html
        p sowie der zusätzlichen Geschäftsbedingungen für „Google Maps“
        a(href="https://www.google.com/intl/de_de/help/terms_maps.html", target="_blank") https://www.google.com/intl/de_de/help/terms_maps.html
      a.anchor#PLUGINS
      li SOCIAL PLUGINS
        p Unser Internetauftritt verwendet Social Plugins (“Plugins”) von verschiedenen sozialen Netzwerken. Mit Hilfe dieser Plugins können Sie beispielsweise Inhalte teilen oder Veranstaltungen weiterempfehlen.
        ol
          a.anchor#GOOGLE
          li EINSATZ VON GOOGLE+-EMPFEHLUNGS-KOMPONENTEN
            p Wir setzen auf unserer Seite die „+1“-Schaltfläche des Anbieters Google+ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“, ein.
            p Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen „+1“-Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von Google herunterlädt. Durch diesen Vorgang wird Google darüber in Kenntnis gesetzt, welche konkrete Seite unseres Internetauftrittes gerade besucht wird.
            p Entsprechend den Angaben von Google erfolgt eine weitergehende Auswertung Ihres Besuchs nicht für den Fall, dass Sie nicht in Ihrem Google-Konto eingeloggt sind.
            p Wenn Sie unsere Seite aufrufen und währenddessen bei Google eingeloggt sind, kann Google bei dem Bestätigen des „+1″-Buttons Informationen über Ihren Google-Account, die von Ihnen weiterempfohlene Webseite sowie Ihre IP-Adresse und andere browserbezogene Informationen erfassen.
            p So kann Ihre „+1“-Empfehlung gespeichert und öffentlich zugänglich gemacht werden. Ihre somit abgegebene Google „+1“-Empfehlung kann dann als Hinweis zusammen mit Ihrem Accountnamen und gegebenenfalls mit Ihrem bei Google hinterlegten Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Konto oder an sonstigen Stellen, wie z.B. auf Webseiten und Anzeigen im Internet, eingeblendet werden. Des Weiteren kann Google Ihren Besuch auf unserer Seite mit Ihren bei Google gespeicherten Daten verknüpfen. Google zeichnet diese Informationen auch auf, um die Google-Dienste weiter zu verbessern.
            p Wollen Sie daher vorgenannte Erfassung durch Google bestmöglich verhindern, müssen Sie sich vor dem Besuch unseres Internetauftrittes aus Ihrem Google-Konto abmelden.
            p Die Datenschutzhinweise von Google zur „+1“-Schaltfläche mit allen weiteren Informationen zur Erfassung, Weitergabe und Nutzung von Daten durch Google, zu Ihren diesbezüglichen Rechten sowie zu Ihren Profileinstellungsmöglichkeiten können Sie hier abrufen:
            a(href="https://developers.google.com/+/web/buttons-policy", target="_blank") https://developers.google.com/+/web/buttons-policy
          a.anchor#FACEBOOK
          li EINSATZ VON FACEBOOK-KOMPONENTEN
            p Wir setzen auf unserer Seite Komponenten des Anbieters facebook.com ein. Facebook ist ein Service der facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA.
            p Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von facebook herunterlädt. Durch diesen Vorgang wird facebook darüber in Kenntnis gesetzt, welche konkrete Seite unserer Internetpräsenz gerade durch Sie besucht wird.
            p Wenn Sie unsere Seite aufrufen und währenddessen bei facebook eingeloggt sind, erkennt facebook durch die von der Komponente gesammelte Information, welche konkrete Seite Sie besuchen und ordnet diese Informationen Ihrem persönlichen Account auf facebook zu. Klicken Sie z.B. den „Gefällt mir“-Button an oder geben Sie entsprechende Kommentare ab, werden diese Informationen an Ihr persönliches Benutzerkonto auf facebook übermittelt und dort gespeichert. Darüber hinaus wird die Information, dass Sie unsere Seite besucht haben, an facebook weiter gegeben. Dies geschieht unabhängig davon, ob Sie die Komponente anklicken oder nicht.
            p Wenn Sie diese Übermittlung und Speicherung von Daten über Sie und Ihr Verhalten auf unserer Webseite durch facebook unterbinden wollen, müssen Sie sich bei facebook ausloggen und zwar bevor Sie unsere Seite besuchen. Die Datenschutzhinweise von facebook geben hierzu nähere Informationen, insbesondere zur Erhebung und Nutzung der Daten durch facebook, zu Ihren diesbezüglichen Rechten sowie zu den Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre:
            a(href="https://de-de.facebook.com/about/privacy/", target="_blank") https://de-de.facebook.com/about/privacy/
            p Eine Übersicht über die Facebook-Plugins finden Sie unter
            a(href="https://developers.facebook.com/docs/plugins/", target="_blank") https://developers.facebook.com/docs/plugins/
          a.anchor#TWITTER
          li EINSATZ DER TWITTER-EMPFEHLUNGS-KOMPONENTEN
            p Wir setzen auf unserer Seite Komponenten des Anbieters Twitter ein. Twitter ist ein Service der Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA.
            p Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von Twitter herunterlädt. Durch diesen Vorgang wird Twitter darüber in Kenntnis gesetzt, welche konkrete Seite unserer Internetpräsenz gerade besucht wird.
            p Wir haben weder Einfluss auf die Daten, die Twitter hierdurch erhebt, noch über den Umfang dieser durch Twitter erhobenen Daten. Nach unserem Kenntnisstand wird von Twitter die URL der jeweiligen aufgerufenen Webseite sowie IP-Adresse des Nutzers erhoben, jedoch nicht für andere Zwecke, als die Darstellung der Twitter- Komponente, genutzt. Weitere Informationen hierzu finden sich in der Datenschutzerklärung von Twitter unter
            a(href="http://twitter.com/privacy", target="_blank") http://twitter.com/privacy
            p Ihre Datenschutzeinstellungen können Sie in den Konto-Einstellungen unter
            a(href="http://twitter.com/account/settings", target="_blank") http://twitter.com/account/settings
            p ändern.
          a.anchor#XING
          li EINSATZ DER XING-EMPFEHLUNGS-KOMPONENTEN
            p Wir setzen auf unserer Seite Komponenten des Netzwerks XING.com ein. Diese Komponenten sind ein Service der XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland.
            p Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von XING herunterlädt.
            p Nach unserem Kenntnisstand werden von XING keine personenbezogenen Daten des Nutzers über den Aufruf unserer Webseite gespeichert. Ebenfalls speichert XING keine IP-Adressen. Zudem findet auch keine Auswertung des Nutzungsverhaltens über die Verwendung von Cookies im Zusammenhang mit dem “XING Share-Button” statt. Weitere Informationen hierzu finden sich in den Datenschutzhinweisen für den XING Share-Button unter:
            a(href="https://www.xing.com/app/share?op=data_protection", target="_blank") https://www.xing.com/app/share?op=data_protection
          a.anchor#LINKEDIN
          li EINSATZ DER LINKEDIN-EMPFEHLUNGS-KOMPONENTEN
            p Wir setzen auf unserer Seite Komponenten des Netzwerks LinkedIn ein. LinkedIn ist ein Service der LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. Bei jedem einzelnen Abruf unserer Webseite, die mit einer solchen Komponente ausgestattet ist, veranlasst diese Komponente, dass der von Ihnen verwendete Browser eine entsprechende Darstellung der Komponente von LinkedIn herunterlädt.
            p Durch diesen Vorgang wird LinkedIn darüber in Kenntnis gesetzt, welche konkrete Seite unserer Internetpräsenz gerade besucht wird. Wenn Sie den LinkedIn „Recommend-Button“ anklicken während Sie in Ihrem LinkedIn-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem LinkedIn-Profil verlinken. Dadurch ist LinkedIn in der Lage, den Besuch unserer Seiten Ihrem LinkedIn-Benutzerkonto zuordnen.
            p Wir haben weder Einfluss auf die Daten, die LinkedIn hierdurch erhebt, noch über den Umfang dieser durch LinkedIn erhobenen Daten. Auch haben wir keine Kenntnis vom Inhalt der an LinkedIn übermittelten Daten. Details zur Datenerhebung durch LinkedIn sowie zu Ihren Rechten und Einstellungsmöglichkeiten können Sie den Datenschutzhinweisen von LinkedIn entnehmen. Diese Hinweise finden Sie unter
            a(href="http://www.linkedin.com/legal/privacy-policy", target="_blank") http://www.linkedin.com/legal/privacy-policy
          a.anchor#YOUTUBE
          li EINSATZ VON YOUTUBE-KOMPONENTEN MIT ERWEITERTEM DATENSCHUTZMODUS
            p Auf unserer Webseite setzen wir Komponenten (Videos) des Unternehmens YouTube, LLC 901 Cherry Ave., 94066 San Bruno, CA, USA, einem Unternehmen der Google Inc., Amphitheatre Parkway, Mountain View, CA 94043, USA, ein.
            p Hierbei nutzen wir die von YouTube zur Verfügung gestellte Option “ – erweiterter Datenschutzmodus – „.
            p Wenn Sie eine Seite aufrufen, die über ein eingebettetes Video verfügt, wird eine Verbindung zu den YouTube-Servern hergestellt und dabei der Inhalt durch Mitteilung an Ihren Browser auf der Internetseite dargestellt.
            p Laut den Angaben von YouTube werden im “ – erweiterten Datenschutzmodus -“ nur Daten an den YouTube-Server übermittelt, insbesondere welche unserer Internetseiten Sie besucht haben, wenn Sie das Video anschauen. Sind Sie gleichzeitig bei YouTube eingeloggt, werden diese Informationen Ihrem Mitgliedskonto bei YouTube zugeordnet. Dies können Sie verhindern, indem Sie sich vor dem Besuch unserer Website von Ihrem Mitgliedskonto abmelden.
            p Weitere Informationen zum Datenschutz von YouTube werden von Google unter dem folgenden Link bereitgestellt:
            a(href="https://www.google.de/intl/de/policies/privacy/", target="_blank") https://www.google.de/intl/de/policies/privacy/
      a.anchor#KONTAKT
      li KONTAKTMÖGLICHKEIT
        p Wir bieten Ihnen auf unserer Seite die Möglichkeit, mit uns per E-Mail und/oder über ein Kontaktformular in Verbindung zu treten. In diesem Fall werden die vom Nutzer gemachten Angaben zum Zwecke der Bearbeitung seiner Kontaktaufnahme gespeichert. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.
      a.anchor#NEWSLETTER
      li NEWSLETTER
        ol
          a.anchor#EINWILLIGUNG
          li EINWILLIGUNG NEWSLETTER UND EINSATZ VON MAILCHIMP
            p In Bezug auf die Verwendung Ihrer personenbezogenen Daten zum Empfang unseres Newsletters werden Sie an gegebener Stelle wie folgt um eine Einwilligung der Datenschutzerklärung gebeten.
            p Wir bieten Ihnen auf unserer Seite die Möglichkeit, unseren Newsletter zu abonnieren. Unsere Newsletter enthalten Informationen über Gründungsthemen, insbesondere aus dem Bereich des Personalwesens, Internationalisierung sowie über unser StartUp Ecosystem (hierzu können insbesondere Hinweise auf Beiträge oder Veranstaltungen, unserer Dienstleistungen oder Onlineauftritte gehören).
            p Um sich für unseren Newsletter anzumelden, reicht es aus, wenn Sie Ihre E-Mailadresse angeben. Optional bitten wir Sie Ihren Vor- und Nachnamen anzugeben. Diese Angaben dienen lediglich der Personalisierung des Newsletters. Ferner bitten wir Sie ebenfalls optional Ihre Branche anzugeben. Diese Informationen nutzen wir nur, um die Inhalte des Newsletters den Interessen unserer Leser anzupassen. Für den Versand des Newsletters verwenden wir das sogenannte Double Opt-In-Verfahren, d.h., wir werden Ihnen erst dann einen Newsletter per E-Mail zusenden, wenn Sie uns zuvor ausdrücklich bestätigt haben, dass wir den Newsletter-Dienst aktivieren sollen. Wir werden Ihnen dann eine Benachrichtigungs-E-Mail zusenden und Sie bitten, durch das Anklicken eines in dieser E-Mail enthaltenen Links zu bestätigen, dass Sie unseren Newsletter erhalten möchten.
            p Mit Ihrer Anmeldung zu unserem Newsletter werden wir Ihre IP-Adresse und das Datum sowie die Uhrzeit Ihrer Anmeldung speichern. Dies dient in dem Fall, dass ein Dritter Ihre E-Mail-Adresse missbraucht und ohne Ihr Wissen unseren Newsletter abonniert, als Absicherung unsererseits.
            p Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt nicht.
          a.anchor#MAILCHIMP
          li NEWSLETTER PER MAILCHIMP
            p Wir verwenden zum Versand unserer Newsletter die Komponente MailChimp. Bei MailChimp handelt es sich um eine Dienstleistung der Firma The Rocket Science Group, LLC, 512 Means Street, Suite 404, Atlanta, GA 30318, USA.
            p Ihre bei der Newsletter Anmeldung gespeicherten Daten (E-Mail-Adresse, ggf. Name, IP-Adresse, Datum sowie die Uhrzeit Ihrer Anmeldung) werden an einen Server der Firma The Rocket Science Group in den USA übertragen und dort unter Beachtung des „EU-US Privacy Shield“ gespeichert.
            p MailChimp verwendet diese Informationen zum Versand und zur Auswertung der Newsletter in unserem Auftrag. Des Weiteren kann MailChimp nach eigenen Informationen diese Daten zur Optimierung oder Verbesserung der eigenen Services nutzen, z.B. zur technischen Optimierung des Versandes und der Darstellung der Newsletter oder für wirtschaftliche Zwecke, um zu bestimmen aus welchen Ländern die Empfänger kommen. MailChimp nutzt die Daten unserer Newsletterempfänger jedoch nicht, um diese selbst anzuschreiben oder an Dritte weiterzugeben.
            p Wir vertrauen auf die Zuverlässigkeit und die IT- sowie Datensicherheit von MailChimp. MailChimp ist unter dem US-EU-Datenschutzabkommen 
              a(href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG", target="_blank") „Privacy Shield“ 
              span zertifiziert und verpflichtet sich damit die EU-Datenschutzvorgaben einzuhalten. Des Weiteren haben wir mit MailChimp ein 
              a(href="http://mailchimp.com/legal/forms/data-processing-agreement/", target="_blank") „Data-Processing-Agreement“ 
              span abgeschlossen. Dabei handelt es sich um einen Vertrag, in dem sich MailChimp dazu verpflichtet, die Daten unserer Nutzer zu schützen, entsprechend dessen Datenschutzbestimmungen in unserem Auftrag zu verarbeiten und insbesondere nicht an Dritte weiter zu geben.
            p Weitere Informationen zum Datenschutz bei MailChimp finden Sie unter:
            a(href="http://mailchimp.com/legal/privacy/", target="_blank") http://mailchimp.com/legal/privacy/
            p Weitere Informationen zu dem „EU-US Privacy Shield“ finden Sie unter:
            a(href="http://ec.europa.eu/justice/data-protection/international-transfers/eu-us-privacy-shield/index_en.htm", target="_blank") 
              p Die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit
              p http://ec.europa.eu/justice/data-protection/international-transfers/eu-us-privacy-shield/index_en.htm
            p Das Abonnement dieses Newsletters und damit die Einwilligung in die Speicherung Ihrer Daten können Sie jederzeit für die Zukunft kündigen bzw. widerrufen. Einzelheiten hierzu können Sie der Bestätigungsmail sowie jedem einzelnen Newsletter entnehmen.
          a.anchor#STATISTISCH
          li STATISTISCHE ERHEBUNG UND ANALYSEN 
            p Die Newsletter enthalten einen sogenannten „web-beacon“, d.h. eine pixelgroße Datei, die beim Öffnen des Newsletters von dem Server von MailChimp abgerufen wird. Im Rahmen dieses Abrufs eröffnen sich verschiedene Analysemöglichkeiten darüber, wie die versandten Newsletter geöffnet und benutzt werden, z.B. an wie viele Nutzer eine E-Mail versendet wurde, ob E-Mails zurückgewiesen wurden und ob sich Nutzer nach Erhalt einer E-Mail von der Liste abgemeldet haben. Diese Analysen sind jedoch nur Gruppenbezogen und werden von uns nicht zur individuellen Auswertung verwendet.
          a.anchor#KUENDIGUNG
          li KÜNDIGUNG/WIDERRUF
           p Sie können den Empfang unseres Newsletters jederzeit kündigen, d.h. ihre Einwilligungen widerrufen. Damit erlöschen gleichzeitig Ihre Einwilligungen in dessen Versand via MailChimp und die statistischen Analysen. Eine Mitteilung in Textform an die unter Ziffer 1 genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus. Selbstverständlich finden Sie auch in jedem Newsletter einen Abmelde-Link.
      a.anchor#LINKS
      li LINKS ZU ANDEREN WEBSITES
        p Webseiten anderer Anbieter, die auf unserer Website verlinkt werden, wurden von Dritten gestaltet und bereitgestellt. Wir haben keinen Einfluss auf Gestaltung, Inhalt und Funktion dieser verlinkten Webseiten. Bitte beachten Sie, dass die auf unserer Website verlinkten Webseiten Dritter möglicherweise eigene Cookies auf Ihrem Rechner installieren bzw. personenbezogene Daten erheben. Bitte informieren Sie sich insoweit ggf. direkt bei den Anbietern dieser verlinkten Webseiten.
      a.anchor#WIDERSPRUCH
      li WIDERSPRUCH WERBE-MAILS
        p Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
      a.anchor#AUSKUNFT
      li AUSKUNFT/WIDERRUF/LÖSCHUNG
        p Sie können sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten zusteht, sollte diesem Anspruch keine gesetzliche Aufbewahrungspflicht entgegenstehen.
        p Den Schutz Ihrer Daten nehmen wir sehr ernst. Um sicherzustellen, dass personenbezogene Daten nicht an Dritte herausgegeben werden, richten Sie Ihre Anfrage bitte per E-Mail oder per Post unter eindeutiger Identifizierung Ihrer Person an:
        p Technikzentrum-Fördergesellschaft mbH
        p Seelandstraße 3
        p 23569 Lübeck
        p Telefax: +49 451 3909-499
        p E-Mail: tzl@tzl.de
        p Die Datenschutzerklärung der Webseite 
          a(href="https://www.gruenderviertel.de", target="_blank") https://www.gruenderviertel.de 
          span basiert auf der 
          a(href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html", target="_blank") Muster-Datenschutzerklärung 
          span der 
          a(href="https://www.ratgeberrecht.eu/", target="_blank") Anwaltskanzlei Weiß & Partner 
          span sowie dem 
          a(href="https://www.e-recht24.de/muster-datenschutzerklaerung.html", target="_blank") Datenschutz-Generator 
          span der 
          a(href="http://www.e-recht24.de/", target="_blank") eRecht24 GmbH & Co. KG