.container-fluid.grey(style="text-align: justify;")
  .container.white
    .col-sm-8.col-sm-offset-2(style="margin-top: 15px;")
      img(src="/assets/images/fablab.jpg")
      br
      h3 FabLab Lübeck
      p Von der Idee bis zum Produkt. Das FabLab ist eine offene High-Tech-Werkstatt. Es bieten allen Interessenten Zugang zu Werkzeugen wie 3D Drucker, Lasercutter, CNC Fräse und CNC Drehmaschine. Zudem stehen den Besuchern und Mitgliedern auch Standard-Werkzeuge wie Bandsäge, Bohrmaschine und Co. zur Verfügung. 
      p Als Teil der internationalen FabLab Gemeinschaft bietet das FabLab Lübeck auch kompakte und kostenlose Einführungskurse an, die einen intuitiven und schnellen Einstieg in die Nutzung der Maschinen ermöglichen wird. 
      p Falls man also einen Prototyp für sein StartUp oder Unternehmen entwerfen möchte, gerade an einer Abschlussarbeit sitzt oder ob einfach nur Spaß am Tüfteln hat, dann wird einen das FabLab ganz bestimmt begeistern. Jeden Freitag zwischen 18:00 und 22:00 Uhr kann man beim Open Lab Day vorbeikommen und sich über den verschiedenen Produktionsmöglichkeiten vor Ort informieren. 
      p Die Website mit weiteren Informationen und allen Veranstaltungen lautet: 
        a(href="http://www.fablab-luebeck.de", target="_blank") www.fablab-luebeck.de
      br
      br