.container
  h2 Impressum
  h4
    b UniTransferKlinik GmbH
  h5 c/o MFC I Lübeck
  h5 Maria-Goeppert-Straße 1
  h5 23562 Lübeck
  br
  h4
    b Geschäftsführer:
  h5 Dr. Raimund Mildner
  h5 Telefon: +49 451 2903-0
  h5 Telefax: +49 451 2903-333
  h5 E-Mail: info@unitransferklinik.de
  br
  h5 HRB 5331, Lübeck
  br
  h4
    b Haftungshinweis:
  p Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

  div 
    p Community Icons made by 
      a(href="https://www.flaticon.com/authors/smashicons" title="Smashicons") Smashicons
      span from 
      a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com
      span is licensed by 
      a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY