.container
  .col-sm-6
    h3 Kontakt
    h4
      b UniTransferKlinik Lübeck GmbH
    h5 c/o MFC I Lübeck
    h5 Maria-Goeppert-Straße 1
    h5 23562 Lübeck
    br
    h5 Telefon: +49 451 2903-0
    h5 Telefax: +49 451 2903-333
    h5 E-Mail: info@unitransferklinik.de
