.container-fluid.grey(style="text-align: justify;")
  .container.white
    .col-sm-8.col-sm-offset-2(style="margin-top: 15px;")
      img(src="/assets/images/open_innovation.jpg")
      br
      h3 Open Innovation – So funktioniert es richtig
      p Bei Open Innovation geht es im Wesentlichen um die Öffnung von Innovationsprozessen eines Unternehmens, um Ideen, neue Technologien oder Feedback von externen Partnern in den internen Entwicklungsprozess einfließen zu lassen. Geprägt wurde die Open Innovation Idee von Henry Chesbrough, der die Auffassung vertrat, dass eine Zusammenarbeit mit klugen Köpfen außerhalb des eigenen Unternehmens nur gewinnbringend sein kann.  Wir fassen den Bereich der Open Innovation weiter als Chesbrough und möchten neben Unternehmen auch Gründern, StartUps, Instituten und Wissenschaftlern die Möglichkeiten bieten, Ihren Innovationssprosses offen zu präsentieren und zusammen mit der Community weiter zu entwickeln. 
      br
      br
      h4 Grundsätze von Open Innovation
      p Generell kann man beim Open Innovation Prozess zwischen zwei Anwendungswegen unterscheiden: 
      p
        b Inside-Out Muster: 
        span Viele Erfindungen und Ideen bleiben ungenutzt in der Schublade, da häufig strategische oder zeittechnische Gründe dagegensprechen. Für Externe könnten diese Ergebnisse jedoch von einem hohem Wert und die Grundlage für neue Produkte oder Services sein. Aus diesem Grund könnte man ungenutztes Wissen anderen zur Verfügung stellen und daraus sogar eine Einnahmequelle erschließen. Ein beliebtes Beispiel sind die eigenen Patente, die an externe Partner per Lizenz vergeben werden. 
      p
        b Outside-In Muster: 
        span Externes Wissen, Ideen, Erfindungen oder fertige Produkte aus -zum Teil ganz anderen Fachbereichen- werden in den internen Innovationsprozess oder die eigene Forschungsarbeit integriert.
      br
      h4 Warum Open Innovation?
      p Im Kern geht es also bei Open Innovation um die Erzeugung von Synergieeffekten durch Wissenstransfer- und Akquisition und somit einem neuartigen Technologie- und Ressourcenzugang. Konkret bedeute dies, das Open Innovation ein sehr nützliches Konzept ist bei: 
      p
        b Der Suche nach Problemlösungen 
        span für Produktverbesserungen und Neu-entwicklungen. Durch eine offene Problemstellung lassen sich nämlich neue Impulse von außen schaffen, von denen Anwender und Hersteller nachhaltig profitieren können. 
      p 
        b Gemeinsame Entwicklung 
        span von neuen Technologien und Innovationen, wie etwa Forschungskooperationen oder Co-Creation mit Kunden, Universitäten, Forschungsinstitute, Lieferanten und Start-Ups. 
      p 
        b Feedback zu neuen Innovationen 
        span wird durch den Zugang des Innovationsprozesses möglichst früh - vor allem durch potenzielle Kunden, Anwender und Stakeholder in Form von Prototypentests eingeholt.
      br
      h4 Welche Vorteile bringt Open Innovation?
      p Durch eine gezielte Öffnung des Innovationsprozesses nach außen werden externe Partner in den Entwicklungsprozess eingebunden. Die Vorteile von Open Innovation für Gründer, StartUps, Forschungsgruppen und kleinen Unternehmen sind daher sehr vielfältig: 

      ul
        li
          p Mit der Präsentation der eigenen Idee und einem intensiven Austausch mit der Community können neue Impulse für die Weiterentwicklung oder Neuentwicklung von Produkten und Dienstleistungen entstehen. Unterschiedlichen Perspektiven und Expertisen der Community Mitglieder können somit Treiber für Innovation sein. 
        li
          p Zudem können Innovationsgeber ein sehr nützliches Feedback zu Ihrer Anwendung durch die Community erhalten.  Beispiele hierfür sind branchenspezifische Kundenbedürfnisse und Markterkenntnisse, die in dieser Form intern bis dato nicht zur Verfügung standen.
        li
          p Auch der Zugang zu neuen Technologien und Fachwissen zu innovativen Lösungsmöglichkeiten außerhalb des Mainstreams sind gute Gründe für die Teilnahme an einer Open Innovation Plattform. 

      p Neben dem Zugang zu neuen Technologien und Expertenwissen ist insbesondere die Steigerung der Innovationsqualität als Haupttreiber für Open Innovation Modelle anzusehen. 

      ul
        li
          p Insbesondere schnellere Entwicklungszeiten sind für die jeweiligen Ideengeber und Hersteller äußerst attraktiv. Durch den Austausch mit der Community und Externen Stakeholdern können Problemlösungen schnell erarbeitet werden und müssten somit nicht erst intern zeitaufwendig aufgebaut und getestet werden.

        li
          p Auch kann Open Innovation dazu beitragen, dass die Entwicklungsrisiken sich für ein teilnehmendes Institut, StartUp und junges Unternehmen reduzieren. Durch Kooperationen/ Co-Creation ist es zum Beispiel möglich, das Risiko unter den Partnern aufzuteilen oder durch eine enge Zusammenarbeit mit erfahrenen Praktikern nachhaltig zu reduzieren. 

        li
          p Insgesamt entstehen durch die Veröffentlichung der Ideen und Innovation neue Impulse für gemeinsam Kooperationen und mögliche Zusammenarbeiten in F\&E-Projekten innerhalb der Community und den teilnehmenden Institutionen. 
      br
      br
