.container-fluid.grey(tooltips, anchormove)
  .container.blue
    br(clear="all")
    .col-md-2.white(style="border-radius: 25px;")
      img(ng-src="{{community.icon}}")
    .col-md-10
      .col-md-11.col-md-offset-1
        .row
          .col-md-10
            h1.text-white(style="vertical-align: middle;") {{community.community.name}}
          .col-md-2.text-right
            button.btn.btn-lg.btn-info(ng-hide="community.subscribed", ng-click="community.subscribe()", style="vertical-align: middle;") Abbonieren
            button.btn.btn-lg.btn-info(ng-show="community.subscribed", ng-click="community.unsubscribe()", style="vertical-align: middle;") Deabbonieren
        .row
          .col-md-10
            h5.text-white {{community.community.description}}
          .col-md-2.text-right
            h5.text-white {{community.member_count}} Mitglieder
            h5.text-white {{community.project_count}} Projekte
    br(clear="all")
    hr
  .container.white
    h2 Projekte
    .col-md-4(ng-repeat="project in community.projects", ui-sref="root.project({id: {{project.id}}})", data-toggle="tooltip" data-placement="bottom" title="{{project.goal}}" class="project-tooltip", style="height: 300px;")
      .col-md-10.well.clickable.border-grey.white.highlight(style="height: inherit;")
        center
          img(ng-src="{{project.image.url}}", style="max-height: 200px;")
          .align-bottom
            hr
            b {{project.name}}
    br(clear="all")
    hr
  .container.white
    h2 Diskussionen
    .well.border-grey.container-fluid(ng-repeat= "discussion in community.discussions")
      .container-fluid
        a.anchor(id="d-{{discussion.author}}-{{discussion.id}}")
        .row
          b.h3(style="margin-top:0px; margin-bottom:0px;") {{discussion.title}}
        .row
          a.clickable.text-blue(ui-sref="root.profile({id: discussion.user_id})", target="_blank") {{discussion.author}}
          span &nbsp;- Verfasst am 
          span {{discussion.created}}
        br
        .row
          p {{discussion.content}}
        .row(ng-if="discussion.user_id == activeUser.id")
          a.clickable(ng-click="community.editDiscussion(discussion.id)") Diskussion Bearbeiten
      hr.border-grey
      .container-fluid(ng-repeat="comment in discussion.comments")
        a.anchor(id="c-{{comment.author}}-{{comment.id}}")
        .row
          a.clickable.text-blue(ui-sref="root.profile({id: comment.user_id})", target="_blank") {{comment.author}}
          span &nbsp;- Verfasst am 
          span {{comment.created}}
        .row
          p {{comment.content}}
        .row(ng-if="comment.user_id == activeUser.id")
          a.clickable(ng-click="community.editComment(comment.id)") Kommentar Bearbeiten
      form.abstand(name="commentForm", novalidate)
        textarea(ng-disabled="!activeUser", ng-model="community.comment_form.content[$index]", style="width: 40%; resize: vertical;")
        br
        button.btn(ng-disabled="!activeUser", ng-click="community.comment(discussion.id, $index)") Kommentieren

    h3(ng-hide="community.discussions.length") Noch keine Diskussionen.

    form.abstand(name="discussionForm", novalidate)
      input(ng-disabled="!activeUser", type="text", ng-model="community.discussion_form.title", required, placeholder="Diskussionstitel")
      br
      textarea(ng-disabled="!activeUser", type="text", ng-model="community.discussion_form.content", required, style="width: 70%; resize: vertical;")
      br
      button.btn(ng-disabled="!activeUser", ng-click="community.startDiscussion()") Diskussion eröffnen.

