.container-fluid.grey
  .container.white
    
    .col-md-10
      h1.text-red.white Branchen
    br(clear="all")
    .row.display-flex
      .col-xs-10.col-xs-offset-1.col-sm-4.col-xs-offset-0.col-md-2.white.well.clickable.highlight.border-grey.no-padding(ng-repeat="community in coc.list | filter: {typus: 'Branche'}" style="margin-left:5px; margin-right:5px;")
        .container-fluid.clickable.text-center(ui-sref="root.community({id: {{community.id}}})")
          .container-fluid.well.white
            img.white(ng-src='{{community.icon}}')
          b.h5 {{community.name}}
      br(clear="all")

    .col-md-10
      h1.text-red.white Themen
    br(clear="all")
    .row.display-flex
      .col-xs-10.col-xs-offset-1.col-sm-4.col-xs-offset-0.col-md-2.white.well.clickable.highlight.border-grey.no-padding(ng-repeat="community in coc.list | filter: {typus: 'Thema'}" style="margin-left:5px; margin-right:5px;")
        .container-fluid.clickable.text-center(ui-sref="root.community({id: {{community.id}}})")
          .container-fluid.well.white
            img.white(ng-src='{{community.icon}}')
          b.h5 {{community.name}}
      br(clear="all")