.container-fluid.grey
  .container.white
    .row.text-center
      h1.text-red Profil Bearbeiten
      //h3.text-red Schritt {{edit.state}}/2

    form(role="register" name="preditForm", novalidate)
      .container#start
        //(ng-show="edit.state == 1")
        .form-group
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_fullname") Vor- & Nachname
            input#predit_input_fullname.form-control(name="full_name", type="text", ng-model="edit.form.user.name")
        //.form-group
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_email") E-Mail
            input#predit_input_email.form-control(name="email", type="email", ng-model="edit.form.user.email")
        .form-group
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_password") Neues Passwort
            input#predit_input_password.form-control(name="password", type="password" ng-minlength="8", ng-model="edit.form.user.password", maxlength="30")
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_password_confirmation") Neues Passwort bestätigen
            input#predit_input_password_confirmation.form-control(name="password_confirmation", type="password" ng-minlength="8", ng-model="edit.form.user.password_confirmation", maxlength="30")

      .container#account
        //(ng-show="edit.state == 2")
        .form-group
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_location") Ort
            input#predit_input_location.form-control(name="ort", type="text" ng-minlength="2", ng-model="edit.form.user.location", maxlength="30")
          br(clear="all")
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_bio") Über mich/Über uns
            textarea#predit_input_bio.form-control(name="bio", type="text", ng-minlength="20", maxlength="150", ng-model="edit.form.user.description")
          br(clear="all")
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_web") Webseite
            .input-group#predit_input_web
              span.input-group-addon http://
              input.form-control(name="web", type="text" ng-minlength="7", ng-model="edit.form.user.web")  
          br(clear="all")
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_fon") Telefonnummer
            input#predit_input_fon.form-control(name="fon", type="text" ng-minlength="2", ng-model="edit.form.user.fon", maxlength="30")
          br(clear="all")
          .row.col-lg-offset-2.col-lg-8
            label(for="predit_input_picture") Profilbild
            input#predit_input_picture(type="file", ngf-select, ng-model="edit.form.user.logo" name="image" accept="image/*" ngf-max-size="1MB")
          .row.col-lg-offset-2.col-lg-8.form-group(ng-class="{ 'has-error': preditForm.currentpassword.$invalid}")
            label(for="predit_input_password") Aktuelles Passwort*
            input#predit_input_currentpassword.form-control(name="currentpassword", type="password" ng-minlength="8", ng-model="edit.form.user.current_password", required, maxlength="30")
            p#predit_error_wrongpassword.form-text.bg-danger(ng-show="edit.wrong_password") Das eingegebene Passwort war falsch.
   
          br(clear="all")

    .container.abstand
      .col-lg-1.col-lg-offset-4
        //center
          button.btn.btn-lg.btn-primary(ng-click="edit.goBack()", scrolltop, ng-disabled="edit.state == 1") Zurück  
      .col-lg-1.col-lg-offset-2
        center
          //button.btn.btn-lg.btn-primary(ng-click="edit.proceed()", ng-hide="edit.state == 2", scrolltop) Weiter
          button.btn.btn-lg.btn-primary(ng-click="edit.saveEdit()", ng-disabled="preditForm.$invalid || edit.predit_in_progress") Speichern
          //ng-show="edit.state == 2",
      .col-lg-1.col-lg-offset-2
        button.btn.btn-danger(ng-disabled="preditForm.currentpassword.$invalid", data-toggle="modal", data-target="#deletion_modal") Account Löschen
      br(clear="all")

.modal.fade#deletion_modal
  .modal-dialog
    .modal-content
      .modal-body
        h3 Account löschen
        p Sind Sie sich sicher, dass Sie ihren Account löschen möchten? Diese Aktion kann nicht rückgängig gemacht werden.
        p Wenn Sie Ihren Account löschen, löschen Sie ebenfalls:
        ul.no-indent
          li Jegliche Projekte, welche Sie eingestellt haben.
          li Ihr Accountname sowie Inhalte von Diskussionen und Kommentaren, die Sie erstellt haben.
          li Ihr Accountname in privaten Nachrichten, welche Sie versandt haben.
        .modal-footer
        button.btn.btn-danger(type="button", ng-disabled="preditForm.currentpassword.$invalid", ng-click="edit.deleteAccount()") Löschen
        button.btn.btn-default(type="button", data-dismiss="modal") Abbrechen