.container-fluid.grey
  .container.white.abstand-bottom(ng-hide="recovery.finished")
    .col-lg-8.col-lg-offset-2.abstand
      center
        h2 Passwort vergessen?
        p Gib hier deine E-Mail-Adresse ein und wir schicken Dir ein neues Passwort per E-Mail zu.
        form
          input.form-control#accountname(type="text", placeholder="E-Mail", ng-model="recovery.email")
          button.btn.btn-lg.btn-primary.abstand(type="button" ng-click="recovery.recoverPassword()" ng-disabled="recovery.sent") Passwort zurücksetzen. 
  .container.white.abstand-bottom(ng-show="recovery.finished")
    h2.abstand Ihr Passwort wurde zurückgesetzt. In Kürze erhalten Sie eine E-Mail mit Ihrem neuen Passwort.