.container-fluid.grey
  .container.white.abstand-bottom(ng-hide="recover.finished")
    .col-lg-8.col-lg-offset-2.abstand
      center
        h2 Passwort vergessen?
        p Gib hier deinen Accountnamen ein und wir schicken Dir ein neues Passwort per Email zu.
        form
          input.form-control#accountname(type="text", placeholder="Accountname", ng-model="recover.name")
          button.btn.btn-lg.btn-primary.abstand(type="button" ng-click="recover.recoverPassword()" ng-disabled="recover.sent") Passwort zurücksetzen. 
  .container.white.abstand-bottom(ng-show="recover.finished")
    h2.abstand Ihr Passwort wurde zurückgesetzt. In Kürze erhalten Sie eine Email mit Ihrem neuen Passwort.