.container.abstand
  .col-lg-2
    img(ng-src='{{profile.user.logo.url}}')
  .col-lg-8
    .row
      h2.text-red {{profile.user.username}}
    hr
    .row(ng-show='profile.user.description')
      h4 {{profile.user.description}}
  .col-lg-2
    button.btn.btn-lg.btn-warning(ui-sref="root.profile.editprofile({id: {{profile.user.id}}})", ng-if="profile.user.id == activeUser.id") Profil Bearbeiten
  hr

  .container
    h4.text-red.text-center Neue Ereignisse
    ul.list-group
      li.list-group-item.clickable(ng-repeat='event in profile.events | filter: {read: false}')
        a {{event.event_type}}
      li.list-group-item(ng-hide='profile.events.length') Keine neuen Ereignisse.

  .container
    .col-lg-6
      h4.text-red.text-center Meine Projekte
      //Projects Here
      ul.list-group
        li.list-group-item.clickable(ng-repeat='project in profile.my_projects')
          a(ui-sref='root.project({id: {{project.id}}})') {{project.name}}
        li.list-group-item(ng-hide='profile.my_projects.length') Noch keine Projekte.
    .col-lg-6
      h4.text-red.text-center Meine Diskussionen
      .row
        // Discussions Here
        ul.list-group
          li.list-group-item.clickable(ng-repeat='discussion in profile.my_discussions')
            a(ui-sref='root.community({id: {{discussion.community_id}}, "#": "d-{{discussion.author}}-{{discussion.id}}"})') {{discussion.title}}
          li.list-group-item(ng-hide='profile.my_discussions.length') Noch keine Diskussionen.
      h4.text-red.text-center Meine Kommentare
      .row
        // Comments Here
        ul.list-group
          li.list-group-item.clickable(ng-repeat='comment in profile.my_comments')
            a(ng-click='profile.goToComment(comment)') {{comment.content}}
          li.list-group-item(ng-hide='profile.my_comments.length') Noch keine Kommentare.
  br(clear="all")