.container-fluid.grey
  .container.white
    .row.text-center
      h1.text-red Profil anlegen
      h3.text-red Schritt {{reg.state}}/5

  .container.white(style="padding-bottom: 30px;")
    form(role="register" name="regForm", novalidate)
      .container#start(ng-show="reg.state == 1")
        .form-group
          .row.col-sm-offset-2.col-sm-8
            label(for="reg_input_fullname") Vor- & Nachname*
            input#reg_input_fullname.form-control(name="full_name", type="text", ng-model="reg.form.user.name", required)
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_email") Email*
            input#reg_input_email.form-control(name="email", type="email", ng-model="reg.form.user.email", required)
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_password") Passwort*
            input#reg_input_password.form-control(name="password", type="password" ng-minlength="8", ng-model="reg.form.user.password", required, maxlength="30")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_password_confirmation") Passwort bestätigen*
            input#reg_input_password_confirmation.form-control(name="password_confirmation", type="password" ng-minlength="8", ng-model="reg.form.user.password_confirmation", required, maxlength="30")

      .container#account(ng-show="reg.state == 2")
        .form-group
          .row.col-sm-offset-2.col-sm-8
            label(for="reg_input_username") Username*
            input#reg_input_username.form-control(name="username", type="text" ng-minlength="2", ng-model="reg.form.user.username", required, maxlength="30")
          br(clear="all")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_location") Ort*
            input#reg_input_location.form-control(name="ort", type="text" ng-minlength="2", ng-model="reg.form.user.location", required, maxlength="30")
          br(clear="all")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_bio") Über uns*
            textarea#reg_input_bio.form-control(ng-keyup="reg.charLimit()", ng-change="reg.charLimit()", name="bio", type="text", maxlength="200", ng-model="reg.form.user.description", required)
            label(for=reg_input_bio) {{reg.bio_characters}} verbleibend.
          br(clear="all")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_web") Webseite*
            .input-group#reg_input_web
              span.input-group-addon http://
              input.form-control(name="web", type="text" ng-minlength="7", ng-model="reg.form.user.web", required)  
          br(clear="all")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_fon") Telefonnummer
            input#reg_input_fon.form-control(name="fon", type="text" ng-minlength="2", ng-model="reg.form.user.fon", maxlength="30")
          br(clear="all")
          .row.col-sm-offset-2.col-sm-8(style="margin-top: 15px;")
            label(for="reg_input_picture") Profilbild
            input#reg_input_picture(type="file", ngf-select, ng-model="reg.form.user.logo" name="image" accept="image/*" ngf-max-size="1MB")
          br(clear="all")




      .container#Branchen(ng-show="reg.state == 3")
        h2 Welche Branchen interessieren Dich?
        p Du kannst mehrere Branchen auswählen und diese jederzeit anpassen.
        .row.display-flex.abstand
          .col-md-5.well.clickable.border-grey(ng-repeat="community in reg.community_list | filter: {typus: 'Branche'}", style="max-height: 50px; margin-bottom: 5px; max-width: 80%;", ng-click="reg.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="border-radius: 10px; height: 50px;")
              h4.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")

      .container#Themen(ng-show="reg.state == 4")
        h2 Welche Themen interessieren Dich?
        p Du kannst mehrere Themen auswählen und diese jederzeit anpassen.
        .row.display-flex.abstand
          .col-md-5.well.clickable.border-grey(ng-repeat="community in reg.community_list | filter: {typus: 'Thema'}", style="max-height: 50px; margin-bottom: 5px; max-width: 80%;", ng-click="reg.selectTag(community)", ng-class="{blue: community.selected, 'col-md-offset-1': $index%2}")
            center(style="position: relative; top: -20px; max-height: inherit;")
              img.col-md-2(ng-class="{white: community.selected}", ng-src='{{community.icon}}' style="border-radius: 10px; height: 50px;")
              h4.col-md-9(ng-class="{'text-red': !community.selected, 'text-white': community.selected}", style="vertical-align: middle;") {{community.name}}
            br(clear="all")
        br(clear="all")


      //.container#meta(ng-show="reg.state == 3")
        .container-fluid
          h2 Welche Branchen interessieren Dich?
          p Du kannst mehrere Branchen auswählen und diese jederzeit anpassen.
        .container-fluid.row.display-flex(style="margin: auto;")
          .col-sm-2.white.well.clickable(ng-repeat="community in reg.community_list | filter: {typus: 'Branche'}", ng-click="reg.selectTag(community)", style="border-color: #b2b8cf;", ng-class="{'col-sm-offset-1': $index%4}")
            .container-fluid.clickable.text-center(ng-class="{blue: community.selected}")
              .container-fluid.well.white(style="margin-top: 5px;")
                img.white(ng-src='{{community.icon}}')
              b.h5(ng-class="{'text-white': community.selected}") {{community.name}}
        br(clear="all")

      //.container#meta(ng-show="reg.state == 4")
        .container-fluid
          h2 Welche Themen interessieren Dich?
          p Du kannst mehrere Themen auswählen und diese jederzeit anpassen.

        .container-fluid.row.display-flex
          .col-sm-2.white.well.clickable(ng-repeat="community in reg.community_list | filter: {typus: 'Thema'}", ng-click="reg.selectTag(community)", style="border-color: #b2b8cf;", ng-class="{'col-sm-offset-1': $index%4}")
            .container-fluid.clickable.text-center(ng-class="{blue: community.selected}")
              .container-fluid.well.white(style="margin-top: 5px;")
                img.white(ng-src='{{community.icon}}')
              b.h5(ng-class="{'text-white': community.selected}") {{community.name}}
        br(clear="all")

      .container#overview(ng-show="reg.state == 5")
        .container-fluid
          .row
            h2.text-red Übersicht
          .row
            .col-sm-2
              b Name: 
            .col-sm-6.col-sm-offset-2 
              p {{reg.form.user.name}}
          .row
            .col-sm-2
              b Username/Firmenname: 
            .col-sm-6.col-sm-offset-2
              p {{reg.form.user.username}}
          .row
            .col-sm-2
              b Email: 
            .col-sm-6.col-sm-offset-2
              p {{reg.form.user.email}}
          .row
            .col-sm-2
              b Ort: 
            .col-sm-6.col-sm-offset-2
              p {{reg.form.user.location}}
          .row
            .col-sm-2
              b Über Mich
            .col-sm-6.col-sm-offset-2
              p {{reg.form.user.description}}
          .row
            .col-sm-2
              b Webseite: 
            .col-sm-6.col-sm-offset-2
              p http://{{reg.form.user.web}}
          .row(ng-show="reg.form.user.fon")
            .col-sm-2
              b Telefonnummer:
            .col-sm-6.col-sm-offset-2 
              p {{reg.form.user.fon}}
            br(clear="all")
          .row
            h3.text-red Interessengebiete
            br
            h4 Branchen
            .row.display-flex
              .col-sm-2(ng-repeat="community in reg.community_list | filter: {typus: 'Branche', selected: true}", style="border-color: #b2b8cf;")
                .col-sm-8.col-sm-offset.2
                  img(ng-src="{{community.icon}}", style="max-width: 100%;")
                b {{community.name}}
            br(clear="all")
            h4 Themen
            .row.display-flex
              .col-sm-2(ng-repeat="community in reg.community_list | filter: {typus: 'Thema', selected: true}", style="border-color: #b2b8cf;")
                .col-sm-8.col-sm-offset.2
                  img(ng-src="{{community.icon}}", style="max-width: 100%;")
                b {{community.name}}
            br(clear="all")
            
          center(style="margin-top: 30px;")
            .form-group
              input(name="agb" type="checkbox", ng-model="reg.read_agb")
              b
                span  Ich habe die 
                a.clickable(ui-sref="root.nutzungsbedingungen" target="_blank") Nutzungsbedingungen
                span  und die 
                a.clickable(ui-sref="root.datenschutz" target="_blank") Datenschutzerklärung
                span  gelesen und akzeptiere sie.

      .container.no-padding(style="margin-top: 25px;")
        .col-sm-1.col-sm-offset-4.no-padding
          center
            button.btn.btn-lg.btn-info(ng-click="reg.goBack()", scrolltop, ng-disabled="reg.state == 1") Zurück
        .col-sm-1.col-sm-offset-2.no-padding
          center
            button.btn.btn-lg.btn-info(ng-click="reg.proceed()", ng-hide="reg.state == 5", scrolltop) Weiter
            button.btn.btn-lg.btn-info(ng-click="reg.register()", ng-show="reg.state == 5", ng-disabled="regForm.$invalid || reg.reg_in_progress || !reg.read_agb") Registrieren
        br(clear="all", style="margin-bottom: 25px;")
